{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
<div class="login-page">
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_reset_password' %}" class="forgot-pass-form">
        <fieldset>
            <legend>{% trans "Forgot my password" %}</legend>
            {% csrf_token %}
            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label for="email">
                    {% trans "Insert your e-mail so we can send you the instructions to recover your password" %}
                </label>
                <input name="email" type="email" id="email" class="form-control" placeholder="{% trans 'Your e-mail' %}">
            </div>
            {% endwith %}
            <button type="submit" class="btn btn-submit">{% trans "Send" %}</button>
        </fieldset>
    </form>
</div>
{% endblock %}