{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="register-page">

    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_signup' %}" class="register-form">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Sign Up" %}</legend>
            {% with errors=form.username.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label for="username" class="sr-only">{% trans "Username" %}</label>
                <input name="username" type="text" value="{{form.username.value|default_if_none:""}}" class="form-control" id="username" placeholder="{% trans 'Username' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <label for="email" class="sr-only">{% trans "E-mail" %}</label>
                <input name="email" type="email" id="email" value="{{form.email.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Your e-mail' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password1.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password1" class="sr-only">{% trans "Password" %}</label>
                <input name="password1" type="password1" id="password" class="form-control" placeholder="{% trans 'Really strong password' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                    {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password1.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password2" class="sr-only">{% trans 'Password confirmation' %}</label>
                <input name="password2" type="password2" class="form-control" placeholder="{% trans 'Password confirmation' %}">
                    {% for error in errors %}<small>{{error}}</small>{% endfor %}
                    {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

        	{% if terms_required %}
    		{% with errors=form.accept_terms.errors %}
    		<div class="form-group{{ errors|yesno:' has-error,' }}">
    			<div class="col-lg-offset-4 col-sm-offset-4 col-lg-8 col-sm-8 textleft">
    			<span class="checkbox-wrapper"><input name="accept_terms" id="accept_terms" type="checkbox" {% if form.accept_terms.value %}checked=""{% endif %}></span>
    				{% url 'flatpage' url='/terms' as terms_url %}
    			<label for="accept_terms" class="terms">{% blocktrans %}I agree to the <a href="{{ terms_url }}" target="_blank">Terms of Use</a>{% endblocktrans %}</label>
    				{% for error in errors %}<small>{{error}}</small>{% endfor %}
    		</div>
    		{% endwith %}
        	{% endif %}

            <button class="btn btn-submit">{% trans "Sign Up" %}</button>

            <div class="form-group">
                <p class="bottom textcenter">
                    {% load socialaccount %}
                    <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>
                    {% for provider in openid_providers %}
                    <span> | </span>
                    <a href="{% provider_login_url "openid" openid=provider.openid_url  next=current_path %}">{{ provider.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </fieldset>
    </form>

</div>
{% endblock %}