{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="register-page">
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    <form onclick="event.stopPropagation()" id="signup-form" method="post" action="{% url 'account_signup' %}" class="register-form">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Sign Up" %}</legend>
            {% with errors=form.username.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label for="username" class="sr-only">{% trans "Username" %}</label>
                <input name="username" type="text" value="{{form.username.value|default_if_none:""}}" class="form-control" id="username" placeholder="CPF ou Passaporte">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
                <small id="username-error"></small>
            </div>
            {% endwith %}

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <label for="email" class="sr-only">{% trans "E-mail" %}</label>
                <input name="email" type="email" id="email" value="{{form.email.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Your e-mail' %}">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password1.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password1" class="sr-only">{% trans "Password" %}</label>
                <input name="password1" type="password" id="password" class="form-control" placeholder="{% trans 'Really strong password' %}">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
                {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password2.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password2" class="sr-only">{% trans 'Password confirmation' %}</label>
                <input name="password2" type="password" class="form-control" placeholder="{% trans 'Password confirmation' %}">
            </div>
            {% endwith %}

            {% if terms_required %}
              {% with errors=form.accept_terms.errors %}
              <div class="checkbox{{ errors|yesno:' has-error,' }}">
                  <label for="accept_terms" class="terms">
                      <input name="accept_terms" id="accept_terms" type="checkbox" style="display:inline-block;" {% if form.accept_terms.value %}checked=""{% endif %}>
                      {% url 'flatpage' url='/terms' as terms_url %}
                      {% blocktrans %}I agree to the <a href="{{ terms_url }}" target="_blank">Terms of Use</a>{% endblocktrans %}
                  </label>
                  {% for error in errors %}<br><small>{{error}}</small>{% endfor %}
              </div>
              {% endwith %}
            {% endif %}
            <button class="btn btn-submit" type="button" onclick="validate()">{% trans "Sign Up" %}</button>
        </fieldset>
        <!-- <p class="info">
            {% load socialaccount %}
            <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>
            {% for provider in openid_providers %}
            <span> | </span>
            <a href="{% provider_login_url "openid" openid=provider.openid_url  next=current_path %}">{{ provider.name }}</a>
            {% endfor %}
        </p> -->
    </form>

</div>
<script type="text/javascript">
  function validate() {
    var username = document.getElementById("username");

    if(username.value.indexOf('.') !== -1 ||
       username.value.indexOf('-') !== -1 ||
       username.value.indexOf('/') !== -1 ||
       username.value.indexOf('\\') !== -1) {
      document.getElementById("username-error").innerHTML = "Por favor, não use traços, pontos ou barras no número";
      return;
    }
    if (username.value.length > 11) {
      document.getElementById("username-error").innerHTML = "O número não pode ter mais do que 11 dígitos";
      return;
    }

    document.getElementById("signup-form").submit();

  }
</script>
{% endblock %}
