// Variables
// --------------------------------------------------
// need to be declared and imported before Bootstrap's files

//== Project variables
@import "base/variables";

//== Theme variables
@import "theme/variables";

// Import Bootstrap's files
// --------------------------------------------------
@import "../bootstrap-sass/assets/stylesheets/bootstrap";


// Import project's files
// --------------------------------------------------
// these are the base's theme styles

//== Base styles
@import "base/_fonts";
@import "base/_mixins";
@import "base/_helpers";

//== Components styles
@import "components/_actions-menu";
@import "components/_buttons";
@import "components/_course-box";
@import "components/_courses-list";
@import "components/_datepicker";
@import "components/_dropdown";
@import "components/_editable-content";
@import "components/_headers";
@import "components/_loading-bar";
@import "components/_filters";
@import "components/_forums";
@import "components/_modals";
@import "components/_pagination";
@import "components/_panels";
@import "components/_tables";
@import "components/_tabs";
@import "components/_widgets";
@import "components/_widgets-grid";

//== Layout styles
@import "layout/_globals";
@import "layout/_admin";
@import "layout/_site-header";
@import "layout/_main-nav";

//== Pages styles
@import "pages/_certificate";
@import "pages/_course-activity";
@import "pages/_course-content";
@import "pages/_course-material";
@import "pages/_course-stats";
@import "pages/_courses-admin";
@import "pages/_courses-page";
@import "pages/_forums-page";
@import "pages/_my-courses";
@import "pages/_notes";
@import "pages/_profile";

//== Vendor style
@import "vendor/_dropzone.scss";
//@import "vendor/flatui/checkbox-and-radio.scss";

// Import theme's files
// --------------------------------------------------
// there are the specific's theme styles

//== Base styles
@import "theme/_actions-menu";
@import "theme/_buttons";
@import "theme/_certificate";
@import "theme/_course-activity";
@import "theme/_course-content";
@import "theme/_course-box";
@import "theme/_courses-page";
@import "theme/_flatpage";
@import "theme/_fonts";
@import "theme/_forums";
@import "theme/_forums-page";
@import "theme/_globals";
@import "theme/_headers";
@import "theme/_home";
@import "theme/_loading-bar";
@import "theme/_login";
@import "theme/_my-courses";
@import "theme/_notes";
@import "theme/_profile";
@import "theme/_site-footer";
@import "theme/_site-header";
@import "theme/_widgets";
@import "theme/_chat"