// Buttons and labels
// --------------------------------------------------

// used on forum's page

.action {
    &.liked {
        &:before {
            color: $orange;
        }
    }
    &.used {
        &:before {
            color: $purple;
        }
    }
    &.replies {
        &:before {
            color: $pink;
        }
    }
}

a.action { 
    &.liked {
        @include link-hover($gray,$orange,$gray,$orange);
        &.active {
            @include link-hover($orange,$orange,$orange,$orange);
        }
    }
    &.used {
        @include link-hover($gray,$purple,$gray,$purple);
        &.active {
            @include link-hover($purple,$purple,$purple,$purple);
        }
    }
    &.replies {
        @include link-hover($gray,$pink,$gray,$pink);
        &.active {
            @include link-hover($pink,$pink,$pink,$pink);
        }
    }
}
%forum-tags, %forum-categories {
    border: 1px solid $orange;
    color: $orange;
}

a {
    &.tag, &.category {
        @include button-hover($orange,#fff,transparent,$orange);
    }
}

// lesson's activities buttons

/* .course-activity {
    .btn-default {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$pink,darken($pink,10%));
        margin-left: 0;
    }
    .btn-info {
        @extend %icon-undo;
        @include button-hover(#fff,#fff,$purple,darken($purple,10%));
    }
    .btn:nth-child(3) {
        @extend %icon-checked;
    }
    .btn-success:last-child {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$blue,darken($blue,10%));
    }
} */