// Buttons and labels
// --------------------------------------------------

// used on forum's page

.action {
    &.liked {
        &.active {
            color: $orange;
            &:before {
                color: $orange;
            }
        }
    }
    &.used {
        &.active {
            color: $purple;
            &:before {
                color: $purple;
            }
        }
    }
    &.replies {
        &.active {
            color: $pink;
            &:before {
                color: $pink;
            }
        }
    }
}

a.action { 
    &.liked {
        @include link-hover($gray,$orange,$gray,$orange);
        &.active {
            @include link-hover($orange,$orange,$orange,$orange);
        }
    }
    &.used {
        @include link-hover($gray,$purple,$gray,$purple);
        &.active {
            @include link-hover($purple,$purple,$purple,$purple);
        }
    }
    &.replies {
        @include link-hover($gray,$pink,$gray,$pink);
        &.active {
            @include link-hover($pink,$pink,$pink,$pink);
        }
    }
}

.forum-list {
    .action {
        &.liked, &.used, &.replies {
            color: $orange;
            &:before {
                color: $orange;
            }
        }
    }
}

%forum-tags, %forum-categories {
    border: 1px solid $orange;
    color: $orange;
}

a {
    &.tag, &.category {
        @include button-hover($orange,#fff,transparent,$orange);
    }
}

.btn {
    &.attach {
        @include button-hover(#fff,#fff,$purple,darken($purple,10%));
    }
    &.attached {
        border-color: $purple !important;
        @include button-hover($purple,$purple,transparent,transparent);
    }
    &.new-topic {
        @include button-hover(#fff,#fff,rgba($orange,0.6),$orange);
    }
    &.reply {
        @include button-hover(#fff,#fff,$pink,darken($pink,10%));
    }
}

.courses-widget {
    .btn {
        &.list-all, &.see-stats {
            @include button-hover(#fff,#fff,rgba($purple,0.6),$purple);
        }
    }
}

.forums-widget {
    .btn {
        &.list-all, &.see-stats {
            @include button-hover(#fff,#fff,rgba($orange,0.6),$orange);
        }
    }
}

.comments-form {
    .btn.delete {
        @include button-hover(#fff,#fff,$gray,darken($gray,10%));
    }
}

// lesson's activities buttons

/* .course-activity {
    .btn-default {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$pink,darken($pink,10%));
        margin-left: 0;
    }
    .btn-info {
        @extend %icon-undo;
        @include button-hover(#fff,#fff,$purple,darken($purple,10%));
    }
    .btn:nth-child(3) {
        @extend %icon-checked;
    }
    .btn-success:last-child {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$blue,darken($blue,10%));
    }
} */