// Buttons and labels
// --------------------------------------------------

// used on forum's page

.action {
    &.liked {
        &.active {
            color: $orange;
            &:before {
                color: $orange;
            }
        }
    }
    &.used {
        &.active {
            color: $dark-orange;
            &:before {
                color: $dark-orange;
            }
        }
    }
    &.replies {
        &.active {
            color: $orange;
            &:before {
                color: $orange;
            }
        }
    }
}

a.action {
    &.liked {
        color: $gray;
        &:hover {
            color: $orange;
        }
        span {
            @include link-hover($gray,$orange,transparent,$orange);
        }
        &.active {
            span {
                @include link-hover($orange,$orange,transparent,$orange);
            }
        }
    }
    &.used {
        color: $gray;
        &:hover {
            color: $dark-orange;
        }
        span {
            @include link-hover($gray,$dark-orange,transparent,$dark-orange);
        }
        &.active {
            span { 
                @include link-hover($dark-orange,$dark-orange,transparent,$dark-orange);
            }
        }
    }
    &.replies {
        color: $gray;
        &:hover {
            color: $orange;
        }
        span {
            @include link-hover($gray,$orange,transparent,$orange);
        }
        &.active {
            span {
                @include link-hover($orange,$orange,transparent,$orange);
            }
        }
    }
    &.edit {
        color: $gray;
        &:hover {
            color: $orange;
        }
        span {
            @include link-hover($gray,$orange,transparent,$orange);
        }
        &.active {
            span {
                @include link-hover($orange,$orange,transparent,$orange);
            }
        }
    }
}

.forum-list {
    .action {
        &.liked, &.used, &.replies {
            color: $orange;
            &:before {
                color: $orange;
            }
        }
    }
}

%forum-tags, %forum-categories {
    border: 1px solid $orange;
    color: $orange;
}

a {
    &.tag, &.category {
        @include button-hover($orange,#fff,transparent,$orange);
    }
}

.new-thread {
    .form-control {
        .btn-default {
            @extend %forum-categories;
            @include button-hover($orange,#fff,transparent,$orange);
            border: 1px solid $orange !important;

            .close {
                color: $orange;
            }
        }
    }
}

.btn {
    &.attach {
        @include button-hover(#fff,#fff,$dark-orange,darken($dark-orange,10%));
    }
    &.attached {
        border-color: $dark-orange !important;
        @include button-hover($dark-orange,$dark-orange,transparent,transparent);
    }
    &.new-topic {
        @include button-hover(#fff,#fff,rgba($orange,0.6),$orange);
    }
    &.reply {
        @include button-hover(#fff,#fff,$orange,darken($orange,10%));
    }
}

.courses-widget {
    .btn {
        &.list-all, &.see-stats {
            @include button-hover(#fff,#fff,rgba($dark-orange,0.6),$dark-orange);
        }
    }
}

.forums-widget {
    .btn {
        &.list-all, &.see-stats {
            @include button-hover(#fff,#fff,rgba($orange,0.6),$orange);
        }
    }
}

.comments-form {
    .btn.delete {
        @include button-hover(#fff,#fff,$gray,darken($gray,10%));
    }
}

// lesson's activities buttons

/* .course-activity {
    .btn-default {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$orange,darken($orange,10%));
        margin-left: 0;
    }
    .btn-info {
        @extend %icon-undo;
        @include button-hover(#fff,#fff,$dark-orange,darken($dark-orange,10%));
    }
    .btn:nth-child(3) {
        @extend %icon-checked;
    }
    .btn-success:last-child {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$green,darken($green,10%));
    }
} */
