.certificate-container {
    .certificate-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        max-width: 750px;
        margin: 0 auto;
        .paralapraca {
            max-width: 200px;
            margin-left: 80px;
        }
        .institute-logo {
            text-align: right;
            img {
                max-height: 20px;
            }
        }
    }
    &.receipt {
        .certificate-logos {
            height: 70px;
            margin-bottom: 15px;
            .paralapraca {
                margin-left: 50px;
            }
            .institute-logo {
                img {
                    max-height: 15px;
                }
            }
        }
        footer {
            padding: 40px 0;
        }
    }
}

