.certificate-container {
    .certificate-logos {
        height: 100px;
        overflow: hidden;
        text-align: center;
        .avante {
            position: absolute;
            left: 100px;
            top: 60px;
        }
        .paralapraca {
            margin-top: 50px;
            max-width: 200px;
        }
        .institute-logo {
            position: absolute;
            top: 60px;
            right: 100px;
            text-align: right;
            img {
                max-height: 60px;
            }
        }
    }
    &.receipt {
        .certificate-logos {
            height: 70px;
            .avante {
                left: 300px;
            }
            .institute-logo {
                right: 300px;
            }
        }
        footer {
            padding: 40px 0;
        }
    }
}

