// Courses' page
// --------------------------------------------------

.courses-page {
    .course-filters {
        ul {
            background-color: rgba($green,0.8);
            li {
                &:hover, &.selected {
                    background-color: $orange;
                    font-weight: $semi-bold;
                }
            }
        }
    }
}