// Courses' page
// --------------------------------------------------

//## Course box used on course widget on dashboard and course list page
//##
.course-box {
    .progress-bar {
        background-color: $green;
    }
    .progress-label {
        color: $green;
    }
    .continue {
        @include button-hover(#fff,#fff,$dark-orange,darken($dark-orange,10%));
    }
    .see-report {
        @include link-hover($dark-orange,$dark-orange,$dark-orange,transparent);
        font-weight: $bold;
    }
}