// Shared course header
// --------------------------------------------------

.main-header {
    background-color: $yellow;
    .course-name {
        a {
            color: #000;
            &:hover {
                border-color: #000; 
            } 
        }
    }
    .course-details {
        display: none;
    }
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

.course-intro {
    .course-content {
        .course-info {
            .column {
                background-color: rgba($light-blue,0.4);
                &:last-child {
                    background-color: rgba($green,0.4);
                }
            }
        }
    }
}

// Course notes
// -----------------------------------------------------

.student-notes {
    .button-show {
        color: $yellow;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .notes-container {
        .notes-header {
            h4 {
                color: $yellow;
            }
            .button-save {
                background-color: $green;
                color: #fff;
                @include transition(background-color 0.5s ease);
                &:hover {
                    background-color: darken($green,10%);
                }
            }
        }
    }
}