// Shared course header
// --------------------------------------------------

.main-header {
    background-color: $yellow;
    .course-details {
        display: none;
    }
    .lesson-units {
        .lesson-list-dropdown {
            .dropdown-menu {
                border-top-color: #979797;
                background-color: $yellow;
                li {
                    a {
                        &:hover {
                            background-color: darken($yellow,5%);
                        }
                    }
                }
            }
        }
    }
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

.course-intro {
    .course-content {
        .course-info {
            .column {
                background-color: rgba($light-blue,0.4);
                &:last-child {
                    background-color: rgba($green,0.4);
                }
            }
        }
    }
}

// Course units navigation
// -----------------------------------------------------

.course {
    .lesson-units-nav {
        .line {
            background: $orange;
        }
        .progress {
            .progress-bar {
                background: $orange;
            }
        }
    }
    .units {
        .units-title {
            background: $orange;
        }
        .unit {
            &.current, &.done {
                background: $orange;
                &:hover {
                    background: darken($orange, 10%);
                }
            }
        }
    }
}

// Course notes
// -----------------------------------------------------

.student-notes {
    .button-show {
        color: $yellow;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .notes-container {
        .notes-header {
            h4 {
                color: $yellow;
            }
            .button-save {
                background-color: $green;
                color: #fff;
                @include transition(background-color 0.5s ease);
                &:hover {
                    background-color: darken($green,10%);
                }
            }
        }
    }
}