// Activities
.course-activity {
    background-color: rgba(#fff,0.3);

    .question {
        h1 {
            color: #000;
        }
    }
}


.open-activity {
    .topbar {
        background-color: $purple;
        color: #fff;
        margin: -30px -30px 0;
        padding: 10px; 
        text-align: right;
    }
    .title {
        color: #000;
        font-size: 30px;
    }
    .intro {
        color: #000;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .your-activity {
        .title {
            color: #000;
            font-family: $font-family-sans-serif;
            font-size: 20px;
            font-weight: $semi-bold;
        }
    }
}