// Forums' pages
// --------------------------------------------------

.forums-page {
    .widget-header {
        .new-topic {
            @include button-hover(#fff,#fff,lighten($orange,20%),lighten($orange,10%));
        }
    }
}

.thread {
    .widget-topbar {
        border-color: $orange;
        .line {
            border-color: $orange;
            color: $orange;
            .btn.goback {
                @include link-hover($orange,$orange,$orange,transparent);
            }
        }
    }
}

.comments-form {
    textarea {
        border: 2px solid $pink;
    }
}