// Forums' pages
// --------------------------------------------------

.post-attachments {
    .attachments {
        border: 1px solid $purple;
        color: $purple;
    }
    ul {
        border-color: rgba($purple,0.7);
        li {
            .delete {
                &:before {
                    color: $purple;
                }
            }
        }
    }
    a {
        @include link-hover($purple,$purple,$purple,transparent);
    }
    .loading {
        .loading-bar {
            border-color: $purple;
            div {
                background-color: $purple;
            }
        } 
    }
}

.forums {
    .post-attachments {
        a {
            @include link-hover($purple,$purple,$purple,transparent);
        }
    }
}

.comments-form {
    textarea {
        border: 2px solid $pink;
    }
}

.see-all-topics {
    .btn {
        @include button-hover(#fff,#fff,rgba($orange,0.6),$orange);
    }
}

.new-thread {
    .form-control {
        border-color: $orange;
    }
    .selected-forum {
        color: $orange;
    } 
}