// Forums' pages
// --------------------------------------------------

.thread {
    .widget-topbar {
        border-color: $orange;
        .line {
            border-color: $orange;
            color: $orange;
            .btn.goback {
                @include link-hover($orange,$orange,$orange,transparent);
            }
        }
    }
}


.post-attachments {
    .attachments {
        border: 1px solid $purple;
        color: $purple;
    }
    ul {
        border-color: rgba($purple,0.7);
    }
    a {
        @include link-hover($purple,$purple,$purple,transparent);
    }
}

.forums {
    .post-attachments {
        a {
            @include link-hover($purple,$purple,$purple,transparent);
        }
    }
}

.comments-form {
    textarea {
        border: 2px solid $pink;
    }
}

.new-thread {
    .form-control {
        border-color: $orange;
    }
    .selected-forum {
        color: $orange;
    } 
}