// Globals
// --------------------------------------------------

//## Set shared styles for all pages
//##
.page {
    @include card(rgba($light-blue,0.6));
    padding: 30px;
}

// Wrapper for the tooltip content
.tooltip-inner {
    color: #000;
    background-color: #eee;
    padding: 8px 12px;
}

.tooltip {
    color: #000;
    &.top .tooltip-arrow {
        border-top-color: #eee;
    }
    &.top-left .tooltip-arrow {
        border-top-color: #eee;
    }
    &.top-right .tooltip-arrow {
        border-top-color: #eee;
    }
    &.right .tooltip-arrow {
        border-right-color: #eee;
    }
    &.left .tooltip-arrow {
        border-left-color: #eee;
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: #eee;
    }
    &.bottom-left .tooltip-arrow {
        border-bottom-color: #eee;
    }
    &.bottom-right .tooltip-arrow {
        border-bottom-color: #eee;
    }
}