// Globals
// --------------------------------------------------

//## Set shared styles for all pages
//##
.page {
    @include card(rgba($green,0.6));

    @media screen and (min-width: $screen-sm-min) {
        padding: 30px !important;
    }
}

// Wrapper for the tooltip content
.tooltip-inner {
    color: #000;
    background-color: #eee;
    padding: 8px 12px;
}

.tooltip {
    color: #000;
    &.top .tooltip-arrow {
        border-top-color: #eee;
    }
    &.top-left .tooltip-arrow {
        border-top-color: #eee;
    }
    &.top-right .tooltip-arrow {
        border-top-color: #eee;
    }
    &.right .tooltip-arrow {
        border-right-color: #eee;
    }
    &.left .tooltip-arrow {
        border-left-color: #eee;
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: #eee;
    }
    &.bottom-left .tooltip-arrow {
        border-bottom-color: #eee;
    }
    &.bottom-right .tooltip-arrow {
        border-bottom-color: #eee;
    }
}

// Remove status bar for all TinyMCE editors
.mce-path {
    display: none !important;
}

// Set properties for all images inside TinyMCE's user defined content on forums
.tinymce-image {
    max-width: 100%;
    height: auto;
}
