// Homepage styles
// --------------------------------------------------

.home {
    .blocks {
        color: #fff;
        margin: 0 15px;
        > div {
            padding: 15px;
        }
        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px;
                width: 50%;
            }
        }
        @media screen and (min-width: 947px) {
            margin: 0 auto;
        }
        h2 {
            font-weight: bold;
            margin: 0;
        }
        p {
            font-size: 2.5vmax;
            font-weight: $bold;
            margin: 0;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 18px;
            }

        }
        .welcome {
            background-color: $gray;
            text-align: center;
            h2 {
                font-size: 6vmax;
                line-height: 95%;
                margin-bottom: 15px;
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 66px;
                }
            }
        }
        .login {
            background-color: $orange;
        }
        .register {
            background-color: $green;
            text-align: center;
            h2 {
               font-size: 6vmax;
                line-height: 95%;
                margin-bottom: 20px;
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 66px;
                }
            }
            p {
                margin-bottom: 15px;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
            .btn-register {
                background-color: $green;
                color: #fff;
                font-weight: $extra-bold;
                font-size: $font-size-large;
                width: 270px;
                transition: all 0.5s ease;
                &:hover {
                    background-color: darken($green, 15%);
                    color: #fff;
                }
            }
        }
        .use {
            background: $dark-orange;
            img {
                max-width: 280px;
                margin: 0 auto;
                @media screen and (min-width: $screen-sm-min) {
                    padding: 30px 0;
                }
            }
        }
    }
}

.home.congresso {
    .use {
        background-color: $gray-light;
    }
    .logo-entremeios {
        max-width: 140px;
    }
}

.contact-form {
    .submit {
        text-align: right;
        .btn {
            margin-left: 10px;
        }
        .btn.clean {
            margin-right: 0;
        }
    }
}
