.messages {
    .page {
        @include card(rgba($purple,0.25));
    }
}

.messages-list {
    .page-header {
        background-color: $purple;
        h2 {
            color: #fff;
        }
        .btn {
            @include button-hover(#fff,#fff,$orange,darken($orange, 5%));
        }
    }
    .title-header {
        h3 {
            color: $purple;
        }
        .btn {
            &.hide-all, &.show-all {
                @include link-hover($purple,darken($purple,5%),$purple,darken($purple,5%));
            }
        }
    }
    .message {
        &.unread {
            .message-body {
                border-left: 5px solid $orange;
                .see-more {
                    @include button-hover(#fff,#fff,$orange,darken($orange, 5%));
                }
            }
        }
    }
}