.messages {
    .page {
        @include card(rgba($purple,0.25));
    }
}

.messages-list {
    .page-header {
        background-color: $purple;
        h2 {
            color: #fff;
        }
    }
    .message {
        &.unread {
            .message-body {
                border-left: 5px solid $orange;
                .see-more {
                    @include button-hover(#fff,#fff,$orange,darken($orange, 5%));
                }
            }
        }
    }
}