// Notes' pages
// --------------------------------------------------

.notes {
    .header {
        .btn {
            margin-top: -5px;
        }
        .btn-primary {
            background: $blue;
            &:hover {
                background: darken($blue,10%);
            }
        }
        .btn-info {
            background: $purple;
            &:hover {
                background: darken($purple,10%);
            }
        }
    }
    .lesson-title {
        color: $pink;
    }
    .notes-list {
        border-color: $pink;
    }
}