// Profile's pages
// --------------------------------------------------

.profile.page {
    @include card(rgba(#fff,0.3));
    padding: 15px;
    @media screen and (min-width: $screen-md-min) {
        padding: 30px;
    }

    .profile-info {
        a {
            @include link-hover($orange,$orange,$orange,transparent);
        }
    }

    .page-header {
        h2 {
            color: $orange;
        }
    }

    .profile-certificates {
        h2 {
            color: $dark-orange;
        }
    }

    .has-error {
        .form-control {
            //border: 1px solid $brand-danger;
            box-shadow: inset 0 1px 3px 0 rgba($brand-danger, 0.75);
            //background-color: #ffeeee;
        }

        small {
            color: $brand-danger;
        }

        label {
            color: #333;
        }
    }
}