// Site header styles for unlogged users
// --------------------------------------------------

.anonymous {
    .site-header {
        background-color: transparent;
        box-shadow: none;
        height: auto;
        margin-bottom: 60px;
        overflow: initial;
        position: static;
        top: initial;
        left: initial;
        right: initial;
        z-index: initial;

        .collapse-site-nav {
            color: $gray-dark;
            font-size: 2.5vmax;
            font-weight: $semi-bold;
            position: absolute;
            text-align: center;
            z-index: 2000;
            top: 1vmax;

            &.site-nav-open {
                left: 1vmax;
            }
            &.site-nav-close {
                right: 1vmax;
            }
            i {
                display: block;
                font-size: 4.5vmax;
            }
        }
       
        .site-nav {
            @media screen and (max-width: $screen-xs-max) {
                background-color: #f6f6f6; 
                bottom: 0;
                box-shadow: 2px 0 5px 0px rgba(0,0,0,0.3);
                left: -46vmax;
                position: fixed;
                top: 0;
                width: 45vmax;
                z-index: 3000;
                transition: all 0.5s ease;
                &.opened {
                    left: 0;
                }
                ul {
                    border-top: 1px solid rgba(0,0,0,0.1);
                    list-style: none; 
                    margin-top: 11vmax;
                    padding: 0;
                    li {
                        a {
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            color: $gray-dark;
                            display: block;
                            font-weight: $semi-bold;
                            font-size: 3vmax;
                            font-weight: 600;
                            padding: 2vmax;
                            text-decoration: none;
                        }
                    }
                }
            }
            @media screen and (min-width: $screen-xs-min) {
                margin: 30px 60px 60px 0; 
                overflow: hidden; 
                padding-bottom: 2px;
                ul {
                    float: right;
                    list-style: none; 
                    margin-bottom: 2px;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-right: 60px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    a {
                        font-size: $font-size-large;
                        font-weight: $semi-bold;
                        @include link-hover($gray,$gray,transparent,$gray);
                        border-bottom-width: 2px !important;
                    }
                }
            }
        }
        .site-logo {
            height: auto;
            margin: 0 15px 20px; 
            max-width: 560px;
            position: static;
            left: initial;
            right: initial;
            @media screen and (max-width: $screen-xs-max) {
                margin-top: 12vmax;
            }
            @media screen and (min-width: 561px) {
                margin: 0 auto 30px; 
            }
            h1 {
                margin: 0;
                text-align: center;
                img {
                    margin: 0;
                    max-height: initial;
                }
                span {
                    color: $orange;
                    display: block;
                    font-family: $font-family-sans-serif;
                    font-size: 2.9vmax;
                    font-weight: $semi-bold;
                    @media screen and (min-width: 561px) {
                        font-size: 31px;
                    }
                }
            }
        }
        .animals {
            margin: 0 auto; 
            max-width: 946px;
            overflow: hidden;
            padding: 0 5%;
            text-align: center;
            div {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                display: inline-block;
                height: 6vmax;
                margin: 0 1.5%; 
                width: 12%;
                @media screen and (min-width: $screen-sm-min) {
                    height: 81px;
                }
            }
            .snail {
                background-image: url(../img/icon-snail.png);
            }
            .elephant {
                background-image: url(../img/icon-elephant.png);
            }
            .turtle {
                background-image: url(../img/icon-turtle.png);
            }
            .snake {
                background-image: url(../img/icon-snake.png);
            }
            .pig {
                background-image: url(../img/icon-pig.png);
            }
            .duck {
                background-image: url(../img/icon-duck.png);
            }
        }
        .color-line {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#66b821+0,66b821+20,0470b0+20,0470b0+35,b02488+35,b02488+50,e02128+50,e02128+65,f22d92+65,f22d92+80,ff4100+80,ff4100+100 */
            background: #66b821; /* Old browsers */
            background: -moz-linear-gradient(left,  #66b821 0%, #66b821 20%, #0470b0 20%, #0470b0 35%, #b02488 35%, #b02488 50%, #e02128 50%, #e02128 65%, #f22d92 65%, #f22d92 80%, #ff4100 80%, #ff4100 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #66b821 0%,#66b821 20%,#0470b0 20%,#0470b0 35%,#b02488 35%,#b02488 50%,#e02128 50%,#e02128 65%,#f22d92 65%,#f22d92 80%,#ff4100 80%,#ff4100 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #66b821 0%,#66b821 20%,#0470b0 20%,#0470b0 35%,#b02488 35%,#b02488 50%,#e02128 50%,#e02128 65%,#f22d92 65%,#f22d92 80%,#ff4100 80%,#ff4100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b821', endColorstr='#ff4100',GradientType=1 ); /* IE6-9 */
            height: 3px;
            margin: -8px auto 0; 
            max-width: 946px;
            width: 100%;
        }
    }
}


.notifications-panel {
    &:before {
        border-bottom-color: $dark-orange;
    }
    .notifications-title {
        background-color: $dark-orange;
    }
    .notifications-list {
        .notifications-item {
            border-bottom: 1px solid rgba($dark-orange,0.3);
            &.not-read {
                background-color: rgba($dark-orange,0.15);
            }
        }
    }
    .see-more {
        color: $dark-orange;
    }
}