// Widget's common styles
// --------------------------------------------------

.widget-topbar {
    background-color: $orange;

    &.breadcrumb {
        border-color: $orange;
        .line {
            border-color: $orange;
            color: $orange;
            .btn.goback {
                @include link-hover($orange,$orange,$orange,transparent);
            }
        }
    }
}

.section-title {
    color: $orange;
    a {
        color: $orange;
    }
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(rgba($gray-light,0.6));
    
    .widget-header {
        margin-bottom: 30px;
    }
    .widget-title {
        color: $dark-orange;
    }
    .widget-filter {
        label {
            color: $dark-orange;
        }
        .form-control {
            color: $green;
            &:focus {
                border-color: $green;
            }
        }
    }

    .all-courses {
        .btn {
            @include button-hover(#fff,#fff,$orange,darken($orange,10%));
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    .widget-title {
        color: $orange;
    }

    .widget-filter {
        &:after {
            color: $orange;
        }
        .form-control {
            color: $orange;
        }
    }

    .forum-update {
        background-color: $orange;
    }
}

// Messages widget
// --------------------------------------------------

.messages-widget {
    @include card(rgba($dark-orange,0.7));
    .widget-topbar {
        background-color: $dark-orange;
    }
    .btn {
        @include button-hover(#fff,#fff,$orange,darken($orange,5%));
    }
}