// Widget's common styles
// --------------------------------------------------

.widget-topbar {
    background-color: $orange;
}

.widget-title {
    text-transform: lowercase;
}

.section-title {
    color: $orange;
    text-transform: lowercase;
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card(rgba($light-blue,0.6));
    
    .widget-header {
        margin-bottom: 30px;
    }
    .widget-title {
        color: $purple;
    }
    .widget-filter {
        label {
            color: $purple;
        }
        .form-control {
            color: $light-blue;
            &:focus {
                border-color: $light-blue;
            }
        }
    }

    .all-courses {
        .btn {
            @include button-hover(#fff,#fff,$pink,darken($pink,10%));
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    .widget-title {
        color: $orange;
    }

    .widget-filter {
        &:after {
            color: $orange;
        }
        .form-control {
            color: $orange;
        }
    }

    .forum-update {
        background-color: $orange;
    }
}