// ADMIN STYLES
// ********************************************************************* //
#admin {
    // COURSE, FORUM
    // ********************************************************************* //
    .course,
    .forum {
        &.course-lesson {
            .activity {
                .editable-title {
                    margin-bottom: 10px;
                    float: left;
                    width: 93%;
                }
                .question .btn-danger {
                    float: right;
                }
                .alert-info {
                    clear: both;
                }
            }
            .add-side-notes {
                margin-top: 20px;
            }
            .course-video {
                margin-top: 70px;
            }
        }

        // ADD CONTENT - Admin
        // ********************************************************************* //
        .add-content {
            .secondary-header {
                .unit {
                    font-size: 18px;
                    margin: 5px 5px 0 0;
                }
                .editable-text {
                    width: 100%;
                    input {
                        font-size: 18px;
                    }
                }
                @media screen and (min-width: $screen-sm-min) {
                    .btn {
                        float: right;
                    }
                }
            }
        }
        .lesson-units-nav {
            margin: 20px 0; 
        }
        .video-activity-buttons {
            clear: both;
            margin: 10px 0; 
        }
        // END CONTENT
        // ADD VIDEO, THUMBNAIL, ACTIVITIES
        .add-video-intro,
        .add-thumbnail,
        .add-activity {
            color: $brand-danger;
            height: 489px;
            &:before {
                content: '';
                height: 100%;
                @include vertical-align(middle);
            }
            .centered {
                @include vertical-align(middle);
                text-align: center;
                width: 98%;
            }
            .icon-youtube-play {
                display: block;
                font-size: 54px;
            }
        }
        @media (max-width: 400px) {
            .add-thumbnail {
                .centered {
                    input {
                        width: 260px;
                    }
                }
            }
        }
        .organize-lessons {
            .secondary-page-header {
                margin-bottom: 30px;
                h3 {
                    display: inline-block;
                    margin-right: 15px;
                }
                .btn {
                    margin-top: -10px;
                }
            }
            .lesson-units-nav {
                margin-bottom: 10px;
            }
            .btn.add {
                display: block;
                width: 145px;
                margin: 10px auto; 
            }
        }
        // ORGANIZING LESSONS AND INSTRUCTORS
        .lessons.organizing-lessons,
        .instructors.organizing-instructors {
            margin-bottom: 30px;
            .lesson, .instructor {
                border-bottom: 1px solid $gray;
                margin-bottom: 0;
                margin-top: 10px;
                padding-bottom: 10px;
                .title {
                    display: block;
                    float: left;
                    font-size: $font-size-large;
                    font-weight: $semi-bold;
                    margin: 4px 10px;
                }
                .handle {
                    float: left;
                    .btn {
                        cursor: move;
                    }
                }
                .fa.fa-minus-circle {
                    cursor: pointer;
                    color: $brand-danger;
                }
            }
            .actions {
                text-align: right;
            }
            .submit {
                margin-top: 10px;
                text-align: right;
            }
        }
    }
}