#certificate-content {
    .certificate-container {
        margin-top: 30px;
    }
    .container-fluid {
        padding: 0;
    }
}
.edit-certificates {
    margin-top: 20px;

    .alert {
        color: #000;
    }
}
.certificate-container {
    background-color: #fcf6ef;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-top-color: $green;
    border-right-color: $blue;
    border-bottom-color: $purple;
    border-left-color: $red;
    @media screen and (min-width: $screen-sm-min) {
        background-color: transparent;
        background-image: url('../img/bg-certificate.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        border: 0;
        height: 370px;
        padding: 22px;
    }
    @media screen and (min-width: $screen-md-min) {
        height: 504px;
        max-width: 866px;
        padding: 30px;
    }
    &:before {
        border-width: 2px;
        border-style: solid;
        border-top-color: $green;
        border-right-color: $blue;
        border-bottom-color: $purple;
        border-left-color: $red;
        position: absolute;
        content: '';
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        @media screen and (min-width: $screen-sm-min) {
            display: none;
        }
    }
    .certificate-title {
        font-family: $font-family-serif;
        font-size: 4.5vmax;
        line-height: 1;
        margin: 50px 0 10px;
        text-align: center;
        text-transform: uppercase;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 4vmax;
            margin: 0 0 10px;
        }
        @media screen and (min-width: $screen-md-min) {
            font-size: 64px;
            margin: 0 0 20px;
        }
    }
    .certificate-info {
        text-align: center;
        p {
            font-size: 12px;
            margin-bottom: 5px;
            @media screen and (min-width: $screen-md-min) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .student {
            font-family: $font-family-serif;
            font-size: 3.5vmax;
            font-weight: $bold;
            line-height: 1;
            @media screen and (min-width: $screen-md-min) {
                font-size: 2vmax;
            }
            @media screen and (min-width: $screen-md-min) {
                font-size: 22px;
            }
        }
    }
    footer {
        font-size: $font-size-small;
        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            bottom: 25px;
            left: 30px;
            right: 30px;
        }
        @media screen and (min-width: $screen-md-min) {
            bottom: 40px;
            left: 45px;
            right: 45px;
        }
        .credits-section {
            margin: 15px 0;
            @media screen and (min-width: $screen-sm-min) {
                margin: 0;
            }
            p {
                margin: 5px 0 0;
                @media screen and (min-width: $screen-md-min) {
                    margin: 10px 0 0;
                }
            }
            a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen and (min-width: $screen-sm-min) {
                    display: inline;
                }
            }
        }
        .coordinator-section {
            p {
                margin-bottom: 0;
            }
            .role-coordinator {
                font-style: italic;
            }
        }
    }
    &.receipt {
        background: #fff;
        border: 0;
        padding: 30px;
        @media screen and (min-width: $screen-sm-min) {
            background-image: url('../img/bg-receipt.svg');
            background-size: 100%;
            padding: 30px 100px;
        }
        @media screen and (min-width: $screen-md-min) {
            padding: 60px 140px;
        }
        &:before {
            border-width: 3px;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
        }
        footer {
            @media screen and (min-width: $screen-md-min) {
                bottom: 50px;
                left: 150px;
                right: 150px;
            }
        }
    }
}
.certificate-signature {
    margin-bottom: 10px;
    position: relative;
    .btn {
        position: absolute;
        right: -120px;
        bottom: 30px;
        box-shadow: 2px 2px 5px 0px rgba(173, 173, 173, 1);
    }
    p {
        background-color: #fff;
        margin-bottom: 5px;
    }
    img {
        height: 40px;
        @media screen and (min-width: $screen-md-min) {
            height: 60px;
        }
    }
}
.certificate-admin {
    counter-reset: steps-counter;
    .institute-logo {
        max-width: 150px;
        input {
            margin-top: 10px;
            width: 120px;
        }
    }
    .text-muted, .student {
        cursor: not-allowed;
    }
    .coordinator-section {
        width: 180px;
        margin: 0 -15px -15px 0;
        .certificate-signature {
            input {
                font-size: $font-size-base;
                margin-top: 5px;
                width: 120px;
            }
        }
        .role-coordinator {
            font-style: normal;
        }
        .editable-text {
            margin-bottom: 0;
        }
    }
    .institute,
    .institute-logo,
    .name-coordinator,
    .role-coordinator,
    .certificate-signature {
        &:before {
            background-color: $brand-warning;
            border-radius: 100%;
            color: #fff;
            content: counter(steps-counter);
            display: inline-block;
            font-size: $font-size-base;
            font-weight: $bold;
            height: 20px;
            left: -25px;
            line-height: 20px;
            position: absolute;
            text-align: center;
            width: 20px;
        }
    }
    .institute {
        margin-right: 5px;
        input {
            display: inline-block;
            width: 200px;
        }
        &:before {
            left: -40px;
        }
    }
    .institute,
    .institute-logo,
    .name-coordinator,
    .role-coordinator,
    .certificate-signature {
        counter-increment: steps-counter;
        position: relative;
    }
}