// Shared course header
// --------------------------------------------------

.main-header {
    background-color: $gray-lighter;
    color: #000;
    padding: 20px 0;
    .container-fluid {
        max-width: 1050px !important;
    }
    .page-header {
        border: 0;
        margin: 0;
        h1 {
            font-size: 18px;
            margin: 0; 
            text-transform: uppercase;
            span {
                display: inline-block;
            }
        }
    }
    .course-name {
        color: #000;
        font-size: 30px;
        margin: 0; 
    }
    .course-slug {
        margin-bottom: 5px;
        label {
            color: $gray-light;
            font-weight: normal;
        }
    }
    .course-details {
        font-size: $font-size-small;
        margin-top: 5px;
        text-transform: uppercase;
        .label {
            color: $gray;
            font-weight: normal;
            padding: 0;
            font-size: inherit;
        }
        a {
            color: $brand-primary;
            &:hover {
                color: darken($brand-primary, 10%);
            }
            &.course-instructor:after {
                content: " // ";
                color: black;
                margin-right: 3px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    .course-sections {
        @media screen and (min-width: $screen-md-min) {
            text-align: right; 
        }
        a {
            border-bottom: 2px solid transparent;
            display: inline-block;
            font-size: 10px;
            font-weight: $bold;
            max-width: 58px;
            vertical-align: top;
            text-align: center;
            text-transform: lowercase; 
            @include link-hover(#000,#000,transparent,#000);
            border-bottom-width: 2px !important;
            @media screen and (min-width: $screen-lg-min) {
                font-size: 11px;
                max-width: 68px;
            }
            &:before {
                display: block;
                font-size: $font-size-base;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: $font-size-large;
                }
            }
        }
        .intro {
            @extend %icon-home;
        }
        .materials {
            @extend %icon-materials;
        }
        .notes {
            @extend %icon-notes;
        }
        .resume {
            @extend %icon-film;
        }
        .tools {
            @extend %icon-tools;
        }
        .dropdown {
            display: inline-block;
        }
    }
    .lesson-units {
        display: none;
        margin-top: 5px;
        @media screen and (min-width: $screen-md-min) {
            display: block;
        }
        .lesson-list-dropdown {
            .dropdown-toggle {
                background: transparent;
                border: 0;
                box-shadow: none;
                font-size: $font-size-small;
                padding: 0;
                text-align: left;
                width: 100%;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                .lesson-name {
                    @extend %icon-caret-down;
                    &:after {
                        margin-left: 5px;
                    }
                }
            }
            .dropdown-menu {
                border: 0;
                border-radius: 0;
                border-top: 2px solid $gray-light;
                background-color: $gray-lighter;
                font-size: $font-size-small;
                margin-top: 10px;
                padding: 0;
                width: 100%;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                li {
                    a {
                        color: #000;
                        padding: 12px 15px;
                    }
                    &:nth-child(even) {
                        a {
                            background-color: darken($gray-lighter,10%);
                            &:hover {
                                background-color: darken($gray-lighter,15%);
                            }
                        } 
                    }
                }
            }
        }
    }
    .lesson-units-mobile {
        display: block;
        margin: 10px 0;
        @media screen and (min-width: $screen-md-min) {
            display: none;
        }
        .form-control {
            max-width: 400px;
        }
    }
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

@media screen and (min-width: $screen-md-min) {
    .course {
        margin-top: -50px;
    }
}

.course-content {
    margin: 40px auto;  
    padding: 0 15px;

    // COURSE SUMMARY - Course intro
    // ********************************************************************* //
    .summary {
        .btn-info .text-info {
            // data selecionada dentro do datepicker
            color: #fff;
        }
    }
    .course-status {
        button {
            text-align: left;
            width: 115px;
        }
        .status-label {
            float: left;
        }
        .caret {
            float: right;
            margin-top: 8px;
        }
        .dropdown-menu {
            margin: 0;
            min-width: initial;
            padding: 0;
            li {
                margin: 0 !important;
            }
        }
    }
    // COURSE LESSONS - Course intro
    // ********************************************************************* //
    .scssons {
        margin-top: 20px;
        .scsson {
            margin-bottom: 40px;
            margin-top: 20px;
            .title {
                display: block;
                font-size: 16px;
                font-weight: regular;
            }
            .description {
                font-size: 13px;
            }
            .editable {
                ul {
                    margin: 0 0 15px 0;
                    padding: 0 0 0 29px;
                    li {
                        margin: 0;
                    }
                }
            }
            li {
                margin: 36px 0;
            }
        }
        // END LESSON
        .table {
            margin-bottom: 7px;
            tr {
                td {
                    border: none;
                    margin: 0;
                    padding: 0;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        // END TABLE
        i.fa-youtube-play {
            color: $brand-danger;
        }
        i.fa-list {
            color: $brand-info;
        }
    }
    // END LESSONS
    .next-lesson {
        background-color: rgba($gray,0.3);
        height: 347px;
        padding: 30px;
        text-align: center;
        @media (min-width: $screen-lg-min) {
            height: 423px;
        }
        &:before {
            content: '';
            height: 100%;
            @include vertical-align(middle);
        }
        .centered {
            @include vertical-align(middle);
            width: 98%;
        }
    }
    // COURSE INSTRUCTORS - Course intro
    // ********************************************************************* //
    .instructors {
        margin-top: 20px;
        .instructor {
            margin-bottom: 10px;
            margin-top: 10px;
        }
        h1.fullname {
            @include bottom(0, 0);
            font-size: 21px;
            text-transform: none;
        }
        h2.job-title {
            border-bottom: 1px solid $gray-lighter;
            @include bottom(9px, 9px);
            font-size: 14px;
        }
        .editable {
            &:hover {
                background-color: lighten($brand-warning, 45%);
            }
        }
        .instructor-photo {
            margin-bottom: 20px;
            max-width: 260px;
        }
        .instructor-wrapper {
            display: block;
            overflow: hidden;
            &:hover {
                .editable {
                    background-color: lighten($brand-warning, 40%);
                }
                .instructor-photo {
                    img {
                        opacity: 0.8;
                    }
                }
            }
        }
        .missing-avatar {
            border: 1px solid #ddd;
            text-align: center;
            &:before {
                content: '';
                @include vertical-align(middle);
            }
            .centered {
                margin: -16px 4px 4px 4px;
                @include vertical-align(middle);
                @include calculate-width(8px);
                i {
                    background: #ddd;
                    color: #c0c0c0;
                    display: block;
                    font-size: 72px;
                    padding: 27px 0;
                }
            }
        }
        // END INSTRUCTOR
    }
    // END INSTRUCTORS
    // COURSE THUMBNAIL - General
    // ********************************************************************* //
    .thumbnail {
        border: 1px solid $gray-lighter;
        padding: 0;
        #admin & {
            @include top(20px);
        }
        .thumbnail-title {
            margin: 2px 10px 0;
        }
        .btn-edit-thumbnail {
            margin: 5px;
        }
        .add-thumbnail {
            text-align: center;
        }
    }
    // END COURSE VIDEO
    // COURSE VIDEO - General
    // ********************************************************************* //
    .course-video {
        margin: 0 auto 40px; 
        max-width: 720px;
    }
    .video,
    .activity {
        border: 1px solid $gray-lighter;
        .video-title {
            margin: 2px 10px 0;
        }
        .btn-edit-video {
            margin: 1px 5px 0 0;
        }
    }
    // END COURSE VIDEO
}

// Course notes
// -----------------------------------------------------

.student-notes {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 100px;
    .show-note {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .notes-container {
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 100px;
        .notes-header {
            background-color: $gray;
            border-radius: 10px 10px 0 0;
            padding: 10px 15px;
            h4 {
                color: #fff;
                display: inline-block;
                font-family: $font-family-sans-serif;
                font-size: 16px;
                font-weight: $bold;
                margin: 0 10px 0 0; 
            }
            .all-notes {
                @extend %icon-angle-right;
                display: inline-block;
                font-size: $font-size-small;
                line-height: $font-size-small;
                @include link-hover(#fff,#fff,#fff,transparent);
                &:after {
                    margin-left: 5px;
                }
            }
            .save {
                float: right;
                margin: -2px 15px 0 0; 
            }
            .hide-note {
                float: right;
                margin: 2px 0 0 0; 
            }
        }
        .notes-content {
            padding: 15px;
            textarea {
                border: 0;
                width: 100%;
            }
        }
    }
}
.main-nav-opened {
    .student-notes {
        left: 250px;
        .notes-container {
            left: 250px;
        }
    }
}

// Course units navigation
// -----------------------------------------------------

.course {
    .lesson-units-nav {
        .line {
            background: $brand-primary;
            background: -moz-linear-gradient(left, $brand-primary 0%, $brand-primary 50%, $gray-light 50%, $gray-light 100%);
            background: -webkit-linear-gradient(left, $brand-primary 0%, $brand-primary 50%, $gray-light 50%, $gray-light 100%);
            background: linear-gradient(to right, $brand-primary 0%, $brand-primary 50%, $gray-light 50%, $gray-light 100%);
            height: 3px;
        }
        .progress {
            background: $gray-light;
            border-radius: 0;
            box-shadow: none;
            height: 3px;
            margin-bottom: 0;
            .progress-bar {
                background: $brand-primary;
            }
        }
        .container-fluid {
            margin-top: -3px;
            max-width: 1050px !important;
        }
    }
    .units {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .units-title {
            background: $brand-primary;
            border-radius: 20px;
            color: #fff;
            display: block;
            font-size: $font-size-base;
            font-weight: $semi-bold;
            height: 20px;
            margin-top: -11px; 
            padding: 0 10px;
            text-align: center; 
            text-transform: lowercase;
        }
        .unit {
            border-radius: 100%;
            display: block;
            font-size: $font-size-base;
            font-weight: $semi-bold;
            height: 20px;
            margin-top: -11px; 
            text-align: center; 
            width: 20px;
            @include button-hover(#fff,#fff,$gray-light,darken($gray-light, 10%));
            &.current {
                height: 24px;
                font-size: 16px;
                margin-top: -13px;
                width: 24px;
            }
            &.current, &.done {
                background: $brand-primary;
                &:hover {
                    background: darken($brand-primary, 10%);
                }
            }
        }
        // END UNIT
        // ADD UNIT
        .add-unit {
            background-color: $brand-success;
            line-height: 2;
            padding: 0;
            text-align: center;
            &:hover {
                background-color: darken($brand-success, 10%);
            }
            i {
                position: static;
            }
        }
        // END ADD UNIT
    }
    // END COURSE UNITS
    .lesson-list {
        .lesson {
            background: transparent;
            margin-bottom: 30px;
            .title {
                color: $gray;
                font-family: $font-family-sans-serif;
                font-size: 24px;
                font-weight: $extra-bold; 
                margin: 0 0 10px; 
            }
            .description {
                color: #000;
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
    }
}

.course-lesson {
    .lesson-content {
        margin: 0 auto; 
        max-width: 720px !important;

        .lesson-info {
            margin-top: 30px; 
            .page-header {
                margin-bottom: 20px; 
            }
            .lesson-materials {
                margin-top: 20px; 
            }
        }
    }
}

.course-intro {
    .course-content {
        max-width: 1050px !important;

        .course-info {
            margin-bottom: 40px;
            @media screen and (min-width: $screen-md-min) {
                display: flex;
            }
            .column {
                background-color: $gray-lighter;
                box-sizing: border-box;
                padding: 30px;
                @media screen and (min-width: $screen-md-min) {
                    width: 60%;
                }
                &:last-child {
                    background-color: darken($gray-lighter,5%);
                    @media screen and (min-width: $screen-md-min) {
                        width: 40%;
                    }
                }
            }
        }
    }
}

// COURSE INTRO
.course-intro {
    .video {
        @include top(25px);
    }
}
.course-stats {
    .students, .scssons {
        margin: 20px 0 0;
        padding: 0;
        list-style: none;
    }
    .students li {
        margin-bottom: 20px;
    }
}
// UPLOADED FILES LIST
ul.uploaded-files-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid $gray-lighter;
        padding: 5px 0;
    }
}
.modal-professor {
    .step1 {
        margin-bottom: 30px;
        p {
            float: left;
            font-weight: bold;
            margin: 7px 10px 0 0;
            text-transform: initial;
        }
    }
    .step2-1 {
        margin-bottom: 30px;
    }
    .selected-user {
        p {
            font-weight: bold;
            margin-bottom: 5px;
        }
        span {
            display: inline-block;
            margin-right: 10px;
        }
    }
    .upload-avatar {
        margin-bottom: 0;
        @media (min-width: $screen-md-min) {
            width: 100%;
        }
        img {
            width: 100%;
        }
        .thumbnail {
            margin: 0px;
            @media (min-width: $screen-md-min) {
                margin: 0px auto 0px;
                max-width: 100%;
            }
        }
    }
    label {
        input[type="checkbox"] {
            float: left;
            margin-right: 5px;
        }
    }
    .user-photo-wrapper {
        @media (max-width: $screen-xs-max) {
            margin-bottom: 30px;
        }
    }
    .user-name-wrapper {
        #user-name {
            margin-bottom: 5px;
        }
    }
    .user-bio-wrapper {
        margin: 15px 0;
        .form-group {
            margin-bottom: 5px;
        }
    }
}
.course-material {
    @media (max-width: $screen-xs-min) {
        blockquote {
            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
            }
        }
    }
    .uploaded-files-list {
        li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}