// Activities
.course-activity {
    background-color: rgba($gray,0.3);
    padding: 30px;
    position: relative;

    .question {
        h1 {
            color: $brand-primary;
            font-family: $headings-font-family;
            font-size: 30px;
            margin: 0 0 30px 0;
        }
    }

    .answers {
        margin: 20px 0;
    }

    .simplechoice-answers {
        .answer {
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: static !important;
                }
            }
        }
    }

    .multiplechoice-answers {
        .answer {
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: static !important;
                }
            }
        }
    }

    .trueorfalse-answers {
        .answer {
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
        }
    }

    .relationship-answers {
        .answer {
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
            > * {
                line-height: 2;
            }
        }
    }

    .alert {
        font-weight: $bold;
        .fa {
            margin-right: 5px;
        }
    }

    .submit {
        margin-top: 40px;
    }

    label {
        font-weight:normal;
    }

    .wrong {
        color: $brand-danger;
    }

    .correct {
        color: $brand-success;
    }

    table tr, table tr td {
        border:none;
    }

    .textcenter {
        text-align: center;
    }

    .textright {
        text-align: right;
    }

    .forum-thread {
        background-color: transparent;
        padding: 0;
    }

    // Flat UI Styles
    // Checkbox & Radio
    // --------------------------------------------------

    .checkbox,
    .radio {
        margin-bottom: 12px;
        position: relative;
        @include transition(color .25s linear);

        input {
            outline: none !important;
            display: none;
        }

        span {
            margin-left: 15px;
            &.icons {
                margin: 0 auto;
                span {
                    margin: 0 auto;
                }
            }
        }

        // Replace icons
        // --------------------------------------------------
        .icons {
            color: $gray;
            display: block !important;
            height: 21px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 21px;
            text-align: center;
            line-height: 23px;
            font-size: 23px;
            @include transition(color .25s linear);

            .first-icon,
            .second-icon {
                position: absolute;
                left: 0;
                top: 0;
                @include opacity(100);
            }
            .second-icon {
                @include opacity(0);
            }
        }

        // Alternate States
        // --------------------------------------------------

        // Hover State
        &:hover {
            cursor:pointer;
            .first-icon {
                @include opacity(0);
            }
            .second-icon {
                @include opacity(100);
            }
        }

        // Checked State
        &.checked {
            color: $link-color;

            .icons {
                color: $brand-success;
            }
            .first-icon {
                @include opacity(0);
            }
            .second-icon {
                @include opacity(100);
            }
        }

        // Disabled state
        &.disabled {
            cursor: default;
            color: mix($gray, white, 38%);

            .icons {
                color: mix($gray, white, 38%);
                }
                .first-icon {
                    @include opacity(100);
                }
                .second-icon {
                    @include opacity(0);
                }
                &.checked {
                .icons {
                    color: mix($gray, white, 38%);
                }
                .first-icon {
                    @include opacity(0);
                }
                .second-icon {
                    @include opacity(100);
                }
            }
        }
    }
}