// Courses' page
// --------------------------------------------------

.courses-page {
    .page-header {
        h2 {
            color: $brand-primary;
        }
    }
    .course-box {
        margin-bottom: 60px;
        .course-thumb-bg {
            height: 140px;
        }
        .course-progress {
            .progress {
                height: 7px;
            }
        }
        .progress-label {
            font-size: $font-size-base;
        }
        .course-description {
            .course-title {
                font-size: 40px;
                margin-top: 0;
            }
            .course-info {
                font-size: $font-size-base;
                .unit-title {
                    font-size: 20px;
                }
            }
        }
    }
    .course-filters {
        ul {
            background-color: $gray;
            border-radius: 20px;
            box-shadow: none;
            color: #fff;
            font-size: $font-size-large;
            list-style: none;
            padding: 0;
            li {
                cursor: pointer;
                padding: 2px 15px;
                &:first-child {
                    border-radius: 20px 20px 0 0;
                    padding-top: 6px;
                }
                &:last-child {
                    border-radius: 0 0 20px 20px;
                    padding-bottom: 6px;
                }
                &:hover, &.selected {
                    background-color: $brand-primary;
                    font-weight: $semi-bold;
                }
            }
        }
    }
}