// Forums' pages
// --------------------------------------------------

.forums-page {
    .widget-header {
        .widget-title {
            display: inline-block;
        }
        .new-topic {
            margin: -12px 0 0 15px;
        }
    }
}

.thread {
    .widget-topbar {
        background-color: transparent;
        border-top: 4px solid $brand-primary;
        margin-bottom: 5px;
        .line {
            border-bottom: 1px solid $brand-primary;
            color: $brand-primary;
            margin: 0 15px; 
            padding-bottom: 10px;
            .title {
                font-size: 18px;
                font-weight: $semi-bold;
            }
            .btn.goback {
                @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
            }
        }
    }
}

.comments-form {
    margin: 20px 0 10px;
    overflow: hidden; 
    width: 100%;
    .tools {
        button {
            border: 1px solid $gray-light;
            border-radius: 5px 5px 0 0;
            border-bottom: 0;
            height: 30px;
            line-height: 18px;
            text-align: center;
            vertical-align: bottom;
            width: 30px;
            @include button-hover($gray,$gray,$gray-lighter,darken($gray-lighter,10%));
            &.bold, &.italic, &.underline {
                font-family: $font-family-serif;
                font-size: 18px;
            }
            &.bold {
                font-weight: bold;
            }
            &.italic {
                font-style: italic;
            }
            &.underline {
                text-decoration: underline;
            }
        }
    }
    .mce-tinymce {
        margin-bottom: 15px;
    }
    textarea {
        border: 2px solid $brand-info;
        height: 170px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
    button + button {
        margin-right: 10px;
    }
}

.forum-thread {
    background-color: rgba(#fff,0.8);
    padding: 15px;

    .thread-header {
        display: inline-block;
        margin: 0;
        font-family: $font-family-sans-serif;
        .user-name {
            font-size: 16px;
        }
        .last-edit {
            display: block;
            margin-top: 5px;
        }
    }
    .thread-title {
        display: inline;
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: $bold;
    }
    .user-name {
        color: #000;
    }
    .actions {
        margin: 10px 0 0;
        overflow: hidden;  
    }
    .tags {
        display: inline-block;
        margin: 0 0 5px 0;
    }
    .last-edit {
        color: lighten($gray-light,10%);
        font-size: $font-size-small;
    }
    .thread-post {
        background-color: rgba(155,155,155,0.3);
        margin-top: 10px;
        padding: 15px;

        p:last-child {
            margin-bottom: 0; 
        }
    }
    .comments {
        border-top: 1px solid $gray-light;
        margin-top: 20px;
        padding-top: 20px;
        > .thread {
            border-bottom: 1px dashed lighten($gray-light,20%);
            margin-bottom: 20px;
            padding-bottom: 20px;
            .thread {
                border-left: 2px solid lighten($gray-light,20%); 
                margin: 20px 0 0 20px;
                padding-left: 20px;
            }
        }
        .thread:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .user-name {
            display: inline-block;
            margin-bottom: 5px;
        }
        .actions {
            margin: 0 0 5px 50px;
            padding-bottom: 1px;
        }
        .comments-form {
            margin-top: 0px; 
            textarea {
                height: 60px;
            }
        }
    }
    .comments-title {
        color: $gray-light;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        margin: 0 0 20px 0; 
    }
}

.post-attachments {
    border: 1px solid $brand-primary;
    border-radius: 10px;
    color: $brand-primary;
    display: inline-block;
    font-size: $font-size-small;
    padding: 8px;
    span {
        @extend %icon-file;
        font-weight: $semi-bold;
        &:before {
            margin-right: 5px;
            vertical-align: bottom;
        }
    }
    ul {
        border-left: 2px solid rgba($brand-primary,0.7);
        margin: 5px 15px;
        padding-left: 8px;
        li {
            @extend %icon-link;
            list-style: none;
            padding: 3px 0;
            &:before {
                margin-right: 8px;
            }
        }
    }
    a {
        @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
    }
}

.forum-list {
    .info {
        margin-top: 10px;
    }
    .thread-name {
        color: #000;
        display: block;
        font-size: $font-size-base;
        font-weight: $semi-bold;
        @media screen and (min-width: $screen-md-min) {
            max-width: 460px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .last-update {
        color: $gray;
        display: block;
        font-size: $font-size-small;
        b {
            font-weight: $semi-bold;
        }
    }
    .tags {
        margin: 0; 
    }
}

.new-thread {
    .form-control {
        border: 2px solid $gray-light;
        border-radius: 0;
        box-shadow: none;
        &:active, &:hover, &:focus {
            box-shadow: none;
        }
    }
    .help-text {
        font-size: $font-size-small;
        font-weight: $normal;
    }
    .selected-forum {
        font-weight: $bold;
    }
    .selected-forum, .selected-tags, .selected-category {
        margin: 12px 0 0 0;
    }
}