// Forums' pages
// --------------------------------------------------

.thread {
    .widget-topbar {
        background-color: transparent;
        border-top: 4px solid $brand-primary;
        margin-bottom: 5px;
        .line {
            border-bottom: 1px solid $brand-primary;
            color: $brand-primary;
            margin: 0 15px; 
            padding-bottom: 10px;
            .title {
                font-size: 18px;
                font-weight: $semi-bold;
            }
            .btn.goback {
                @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
            }
        }
    }
}

.comments-form {
    margin-top: 20px;
    overflow: hidden; 
    width: 100%;
    .tools {
        button {
            border: 1px solid $gray-light;
            border-radius: 5px 5px 0 0;
            border-bottom: 0;
            padding: 4px 10px;
            @include button-hover($gray,$gray,$gray-lighter,darken($gray-lighter,10%));
        }
    }
    textarea {
        border: 2px solid $brand-info;
        height: 170px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
    > button {
        float: right;
        margin-left: 10px;
    }
}

.forum-thread {
    background-color: rgba(#fff,0.8);
    padding: 15px;

    .thread-header {
        margin: 0 0 10px 0;
        font-family: $font-family-sans-serif;
        .user-name {
            font-size: 16px;
        }
    }
    .thread-title {
        display: inline;
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: $bold;
    }
    .user-name {
        color: #000;
    }
    .actions {
        margin: 10px 0 0;
        overflow: hidden;  
    }
    .tags {
        display: inline-block;
        margin: 0 0 5px 0;
    }
    .thread-post {
        background-color: rgba(155,155,155,0.3);
        margin-top: 10px;
        padding: 15px;

        p:last-child {
            margin-bottom: 0; 
        }
    }
    .comments {
        border-top: 1px solid $brand-primary;
        margin-top: 20px;
        padding-top: 20px;
        > .thread {
            border-bottom: 1px dashed lighten($gray-light,20%);
            margin-bottom: 20px;
            padding-bottom: 20px;
            .thread {
                border-left: 2px solid lighten($gray-light,20%); 
                margin: 20px 0 0 20px;
                padding-left: 20px;
            }
        }
        .thread:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .user-name {
            display: inline-block;
            margin-bottom: 5px;
        }
        .actions {
            margin: 0 0 5px 50px;
        }
        .comments-form {
            margin-top: 0px; 
            textarea {
                height: 60px;
            }
        }
    }
    .comments-title {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        margin: 0 0 20px 0; 
    }
}

.forum-list {
    table {
        width: 100%;
    }
    thead {
        th {
            font-size: $font-size-small;
            font-weight: normal;
            color: $gray;
            padding: 0 0 5px;
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: rgba(#fff,0.5);
            }
            &.new {
                background-color: rgba(155,155,155,0.2);
                border-bottom: solid 2px rgba(194, 194, 194, 0.7);
            }
        }
        td {
            padding: 10px 0;
            &:first-child {
                padding-left: 20px;
            }
        }
    }
    .thread-name {
        color: #000;
        display: block;
        font-size: $font-size-base;
        font-weight: $semi-bold;
    }
    .last-update {
        color: $gray;
        display: block;
        font-size: $font-size-small;
        b {
            font-weight: $semi-bold;
        }
    }
    .tags {
        margin: 0; 
    }
}