// Notes' pages
// --------------------------------------------------

.notes {
    .line {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .header {
        margin-bottom: 6px;
        padding-top: 6px;
        @media screen and (min-width: $screen-md-min) {
            padding-bottom: 0px; 
        }
        .course-title {
            color: #000;
            font-size: 30px;
            margin-top: 0;
            @media screen and (min-width: $screen-md-min) {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .btn + .btn {
            margin-left: 10px;
        }
    }
    .notes-info {
        border-top: 1px solid #000;
        color: #000;
        font-size: $font-size-small;
        font-weight: $bold;
        padding-top: 10px; 
        .btn {
            margin-left: 10px; 
        }
    }
    .lesson-title {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        font-weight: $extra-bold;
        margin: 15px 0; 
    }
    .notes-list {
        border-left: 1px solid $gray;
        margin-bottom: 30px;
        padding-left: 20px;
    }
    .unit-title {
        color: #000;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        text-transform: initial;
    }
    .note-content {
        background: rgba(255,255,255,0.5);
        overflow: hidden;
        padding: 15px;
        .row {
            div:last-child {
                text-align: right; 
            }
        }
        .btn + .btn {
            margin-left: 10px;
        }
    }
}