// Notes' pages
// --------------------------------------------------

.notes {
    .header {
        .btn + .btn {
            margin-left: 10px;
        }
    }
    .notes-info {
        color: #000;
        font-size: $font-size-small;
        font-weight: $bold;
        padding-top: 10px; 
        .btn {
            margin-left: 10px; 
        }
    }
    .lesson-title {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        font-weight: $extra-bold;
        @media screen and (min-width: $screen-xs-min) {
            margin: 15px 0; 
        }
    }
    .notes-list {
        margin-bottom: 30px;
        @media screen and (min-width: $screen-xs-min) {
            border-left: 1px solid $gray;
            padding-left: 20px;
        }
    }
    .unit-title {
        color: #000;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        text-transform: initial;
    }
    .note-content {
        background: rgba(255,255,255,0.5);
        overflow: hidden;
        padding: 10px;
        .note-text {
          white-space: pre-line;
        }
        @media screen and (min-width: $screen-xs-min) {
            padding: 15px;
        }
        .row {
            div:last-child {
                margin-top: 15px;
                @media screen and (min-width: $screen-sm-min) {
                    margin-top: 0;
                    text-align: right;
                } 
            }
        }
        .btn + .btn {
            margin-left: 10px;
        }
    }
}