.users {
    .filters {
        margin-top: 20px;
        .form-group {
            margin-right: 15px;
        }
        #keyword {
            width: 300px;
        }
        .checkbox {
            label + label {
                margin-left: 15px;
            }
        }
    }
    .nav-tabs {
        margin-top: 40px;
    }
}

.users-list, .groups-list {
    .section-header {
        margin-top: 30px;
    }
    .new-group {
        font-weight: bold;
    }
    .total {
        margin-bottom: 20px;
        span {
            color: $brand-primary;
            font-weight: $bold;
        }
    }
}

.users-list {
    color: #000;

    table {
        th {
            color: $gray;
            font-size: $font-size-small;
            font-weight: $normal;
            padding: 0 15px 5px 0;
            text-transform: lowercase;
            &:last-child {
                padding-right: 0;
            }
        }
        td {
            padding: 0 15px 15px 0;
            vertical-align: top;
            &:first-child, &:nth-child(2) {
                width: 350px;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.groups-list {
    .header {
        color: $gray;
        font-size: $font-size-small;
        font-weight: $normal;
        margin-bottom: 5px;
        text-transform: lowercase;
    }
    .new-group {
        float: right;
        margin-top: 20px;
    }
    .group {
        .group-name {
            color: $brand-primary;
            font-weight: $bold;
        }
        .members-number {
            font-weight: $bold;
        }
    }
    .group + .group {
        margin-top: 15px;
    }
    .members {
        clear: both;
        padding-top: 10px;
        margin-top: 40px;
        background: rgba(255, 255, 255, 0.3);
        .group-actions {
            .btn {
                margin-bottom: 10px;
            }
        }
        .member-line {
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
        }
        .member-info {
            padding-left: 50px;
        }
    }
    .actions {
        text-align: right;
        .btn + .btn {
            margin-left: 5px;
        }
    }
}
