.users {
    .filters {
        .form-group {
            margin-right: 15px; 
        }
        #keyword {
            width: 300px;
        }
        .checkbox {
            label + label {
                margin-left: 15px; 
            }
        }
    }
    .nav-tabs {
        margin-top: 40px; 
    }
}

.users-list, .groups-list {
    h3 {
        font-weight: bold;
        margin: 30px 0 5px; 
    }
    .total {
        margin-bottom: 20px;
        span {
            color: $brand-primary;
            font-weight: $bold;
        }
    }
}

.users-list { 
    color: #000;

    table {
        th {
            color: $gray;
            font-size: $font-size-small;
            font-weight: $normal;
            padding: 0 15px 5px 0;
            text-transform: lowercase;
            &:last-child {
                padding-right: 0;
            }
        }
        td {
            padding: 0 15px 15px 0;
            vertical-align: top;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.groups-list {
    .header {
        color: $gray;
        font-size: $font-size-small;
        font-weight: $normal;
        margin-bottom: 5px;
        text-transform: lowercase;
    }
    .group {
        .group-name {
            color: $brand-primary;
            font-weight: $bold;
        }
        .members-number {
            font-weight: $bold;
        }
    }
    .group + .group {
        margin-top: 15px;
    } 
    .members {
        clear: both;
        padding-top: 10px; 
        .member-line + .member-line {
            margin-top: 15px;
        }
        .member-info {
            padding-left: 50px;
        }
    }
    .actions {
        text-align: right;
        .btn + .btn {
            margin-left: 5px;
        }
    }
}