// Actions menu
// --------------------------------------------------

.actions-menu {
    background-color: $gray-lighter;
    height: 52px;
    padding: 10px 0;
    position: relative;
    .container-fluid {
        position: relative;
    }
    .status {
        margin-left: 40px;
        margin-right: 10px;
    }
    .label {
        background-color: darken($gray-lighter, 10%);
        color: $gray-darker;
        font-size: 11px;
        font-weight: normal;
        margin-right: -5px;
        padding: 10px 12px;
        text-transform: uppercase;
    }
    @media screen and (max-width: $screen-xs-max) {
        margin-top: 0;
    }
    .actions-buttons {
        display: inline-block;
        &.align-left {
            float: left;
        }
        &.align-right {
            float: right;
        }
    }
}
.actions-menu-scroll {
    left: 100px;
    position: fixed;
    right: 0;
    top: 80px !important;
    z-index: 1000;
}
.actions-menu-message {
    background-color: transparent !important;
    height: 32px;
    text-align: center;
    .tt-popup {
        float: none;
        text-align: center;
    }
}
// END ACTIONS