// Buttons and labels
// --------------------------------------------------

// overwrite some default classes
.btn-xs {
    font-weight: $semi-bold;
    padding: 2px 6px;
}

.btn-sm {
    font-weight: $semi-bold;
}

.btn-lg {
    font-weight: $extra-bold;
    &:before { // icon margin
        margin-right: 10px;
    }
    &:after { // icon margin
        margin-left: 10px;
    }
}

.btn-link {
    border: 0;
    border-bottom-style: solid;
    border-radius: 0;
    line-height: 1.2;
    padding: 0;
}

.btn {
    font-weight: $bold;
    &:focus {
        outline: 0;
    }
    &:before { // icon margin
        margin-right: 5px;
    }
    &:after { // icon margin
        margin-left: 5px;
    }
    &.clean {
        @extend %icon-undo;
        @include link-hover(#fff,#fff,#fff,transparent);
        margin-right: 20px; 
    }
    &.delete {
        @extend %icon-trash;
    }
    &.edit {
        @extend %icon-edit;
    }
    &.filter {
        @extend %icon-filter; 
        @include link-hover(#fff,#fff,#fff,transparent);
    }
    &.hide-all {
        @extend %icon-caret-up; 
        @include link-hover(#000,#000,#000,transparent);
        font-weight: $normal;
    }
    &.hide-note {
        @extend %icon-compress;
        @include link-hover(#fff,#fff,transparent,transparent);
        &:after {
            vertical-align: middle;
        }
    }
    &.show-all {
        @extend %icon-caret-down; 
        @include link-hover(#000,#000,#000,transparent);
        font-weight: $normal;
    }
    &.show-note {
        @extend %icon-expand;
        border-radius: 10px 10px 0 0;
        @include button-hover(#fff,#fff,$gray,darken($gray,10%));
        &:after {
            margin-left: 10px;
            vertical-align: middle;
        }
    }
    &.save-note {
        @extend %icon-save;
    }
}

// used on forum's page
%forum-actions {
    color: $brand-primary;
    font-size: $font-size-small;
    font-weight: $semi-bold;
    margin-right: 10px;
    &:before {
        font-size: 14px;
        margin-right: 5px;
    }
    &.small {
        margin-right: 5px;
    }
}

a.action {
    @include link-hover($brand-primary,$brand-primary,transparent,$brand-primary); 
}

.action {
    @extend %forum-actions;

    &.liked {
        @extend %icon-like;
    }
    &.used {
        &:before {
            border: 1px solid $brand-primary;
            border-radius: 100%;
            content: "=";
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            height: 16px;
            line-height: 90%;
            text-align: center;
            width: 16px;
        }    
    }
    &.replies {
        @extend %icon-reply;
    }
}

%forum-tags, %forum-categories {
    border: 1px solid $brand-primary;
    border-radius: 20px;
    display: inline-block;
    color: $brand-primary;
    font-size: $font-size-small;
    font-weight: $semi-bold;
    margin-right: 5px;
    padding: 3px 6px;
}

%forum-categories {
    &:before {
        font-size: 16px;
        line-height: 14px;
        margin-right: 5px;
    }
}

.tag {
    @extend %forum-tags;  
}

.category {
    @extend %forum-categories;

    &.discussion {
        @extend %icon-discussion;
    }

    &.schedule {
        @extend %icon-schedule;
        @extend %forum-categories;
    }

    &.record {
        @extend %icon-record;
        @extend %forum-categories;
    }
}

a {
    &.tag, &.category {
        @include button-hover($brand-primary,#fff,transparent,$brand-primary);
    }
}