// Buttons and labels
// --------------------------------------------------

// default style 
%default-button {
    border: 0;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    @include button-hover(#fff,#fff,$gray,darken($gray,10%));
    &:active, &.active {
        outline: 0;
        background-image: none;
        box-shadow: none;
    }
}

%btn-xs {
    font-weight: $semi-bold;
}

%btn-sm {
    font-weight: $semi-bold;
}

%btn {
    font-weight: $bold;
}

%btn-lg {
    font-weight: $extra-bold;
}

// used on forum's page topbar
%topbar-icons {
    color: #fff;
    font-size: $font-size-base;
    margin-right: 20px;
    &:before {
        margin-right: 5px;
    }
    &:hover {
        color: #fff;
    }
    span {
        border-bottom: 1px solid #fff;    
    }
}

.button-clean {
    @extend %icon-undo;
    @extend %topbar-icons;
}

.button-goback {
    @extend %icon-goback;
    @extend %topbar-icons;
    &:before {
        font-size: $font-size-small;
    }
}

.button-filter {
    @extend %icon-filter; 
    @extend %topbar-icons;
}

// used on forum's page
%forum-actions {
    color: $brand-primary;
    font-size: $font-size-small;
    font-weight: $semi-bold;
    margin-right: 10px;
    &:before {
        font-size: 14px;
        margin-right: 5px;
    }
    &.small {
        margin-right: 5px;
    }
}

a.action {
    @include link-hover($brand-primary,$brand-primary,transparent,$brand-primary); 
}

.action {
    @extend %forum-actions;

    &.liked {
        @extend %icon-like;
    }
    &.used {
        &:before {
            border: 1px solid $brand-primary;
            border-radius: 100%;
            content: "=";
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            height: 16px;
            line-height: 90%;
            text-align: center;
            width: 16px;
        }    
    }
    &.replies {
        @extend %icon-reply;
    }
}

%forum-tags, %forum-categories {
    border: 1px solid $brand-primary;
    border-radius: 20px;
    display: inline-block;
    color: $brand-primary;
    font-size: $font-size-small;
    font-weight: $semi-bold;
    margin-right: 5px;
    padding: 3px 6px;
}

%forum-categories {
    &:before {
        font-size: 16px;
        line-height: 14px;
        margin-right: 5px;
    }
}

.tag {
    @extend %forum-tags;  
}

.category {
    @extend %forum-categories;

    &.discussion {
        @extend %icon-discussion;
    }

    &.schedule {
        @extend %icon-schedule;
        @extend %forum-categories;
    }

    &.record {
        @extend %icon-record;
        @extend %forum-categories;
    }
}

a {
    &.tag, &.category {
        @include button-hover($brand-primary,#fff,transparent,$brand-primary);
    }
}

// used on note's component on lesson page
%notes-buttons {
    @extend %default-button;
    &:after {
        margin-left: 5px;
    }
}

.button-show {
    @extend %icon-expand;
    @extend %notes-buttons;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    padding: 10px 15px;
    &:after {
        margin-left: 10px;
        vertical-align: middle;
    }
}

.button-hide {
    @extend %icon-compress;
    @extend %notes-buttons;
}

.button-save {
    @extend %icon-save;
    &:before {
        margin-right: 5px;
    }
}

// use on note's page
.button-intro, .button-resume, .button-edit, .button-delete {
    @extend %default-button;
}

