.courses-list {
    .line {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .header {
        border-bottom: 1px solid #000;
        margin-bottom: 6px;
        padding: 6px 0;
        .course-title {
            color: #000;
            font-size: 4.4vmax;
            margin: 0;
            @media screen and (min-width: $screen-xs-min) {
                font-size: 30px;
            }
            @media screen and (min-width: $screen-md-min) {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .btn {
            @media screen and (max-width: $screen-sm-max) {
                margin-top: 5px !important;
            }
        }
    }
}