%editable {
    padding: 3px 0 0 0;
    background-color: rgba($gray-lighter,0.5);
    color: $gray;
    transition: all 0.3s;
    &:hover {
        background-color: rgba($gray-lighter,0.7);
    }
}
%editable-input {
    input {
        border: none;
        background: none;
        display: inline-block;
        margin: 0;
        padding: 0 20px 0 0;
        width: 98%;
    }
}
.editable-content {
    @extend %editable;
}
.editable-title {
    @extend %editable;
    @extend %editable-input;
    font-family: $headings-font-family;
    font-size: 28px;
    input {
        padding: 0 40px 0 0;
        font-weight: normal;
    }
}
.editable-slug {
    @extend %editable;
    @extend %editable-input;
    display: inline-block;
    font-size: 14px;
    width: 150px;
    margin-top: 3px;
    input {
        padding: 0 20px 0 0;
        font-weight: bold;
    }
}
.editable-text {
    @extend %editable;
    @extend %editable-input;
    margin: 3px 0 10px;
    input {
        color: #999;
        width: 98%;
    }
}
.editable-text-box {
    @extend %editable;
    cursor: pointer;
    word-break: break-word;
    padding: 4px;
    &:empty {
        min-height: 120px;
        text-align: center;
        line-height: 120px;
    }
}
.editable-content:after,
.editable-title:after,
.editable-slug:after,
.editable-text:after,
.editable p:last-child:after,
.editable-text-box:empty:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f040';
    color: $gray-light;
    display: inline-block;
}
.editable-title:after {
    margin-left: -32px;
}
.editable-slug:after,
.editable-text:after {
    margin-left: -16px;
}
.editable p:last-child:after {
    font-size: 16px;
}
.editable-text-box:empty:after {
    font-size: 20px;
}
.secondary-header .editable-title {
    margin-top: 20px;
}