// Shared forums components
// --------------------------------------------------

.forums {
    .user-icon {
        float: left;
        height: 40px;
        margin-right: 10px;
        width: 40px;
        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
    }
    .info {
        color: $gray;
        font-size: 13px;
        margin-bottom: 5px; 
        overflow: hidden;
        padding-bottom: 1px;
        a {
            font-size: $font-size-base;
            font-weight: $bold;
            @include link-hover($gray-dark,$gray-dark,$gray-dark,transparent);
        }
        .user-name {
            color: $gray-dark;
            font-size: $font-size-base;
            font-weight: $bold;
        }
        .thread-name {
            @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
        }
    }
    .actions {
        margin: 0 0 5px 50px;
    }
    .tags {
        margin-left: 50px;
    }
}