// Shared forums components
// --------------------------------------------------

.forums {
    .user-icon {
        float: left;
        margin-right: 10px;
        img {
            border-radius: 50%;
        }
    }
    .info {
        color: $gray;
        font-size: 13px;
        margin-bottom: 5px;
        a {
            border-bottom: 1px solid $gray-dark;
            color: $gray-dark;
            font-size: $font-size-base;
            font-weight: $bold;
            text-decoration: none;
            transition: border 0.25s ease;
            &:hover {
                border-color: transparent;
            } 
        }
        .thread-name {
            border-bottom: 1px solid $brand-primary;
            color: $brand-primary;
        }
    }
    .actions {
        margin: 0 0 5px 50px;
    }
    .tags {
        margin-left: 50px;
    }
}