.panel {
    background-color: transparent;
}
.panel-default {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    > .panel-heading {
        color: #333333;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;
        border-top: 5px solid $brand-primary;
    }
}