{% load i18n %}
    <header class="main-header">
        <div class="container-fluid">
            <!-- ROW -->
            <div class="row">
                {% if course_intro_admin %}
                <div class="col-sm-8">
                    <div class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i> Edite abaixo o nome e o link do módulo</div>
                    <div class="editable-title"><input type="text" ng-model="course.name" placeholder="{% trans 'Course name' %}"></div>
                    <div class="course-slug clearfix">
                      <label>http://{{ site.domain }}/course/</label>
                      {% verbatim %}
                      <div class="editable-slug"><input type="text" ng-model="course.slug" placeholder="{{course.name|slugify}}"></div>
                      {% endverbatim %}
                    </div>
                </div>
                {% else %}
                <div class="col-sm-8">
                    <div class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i> Edite abaixo o nome do capítulo</div>
                    <h2 class="course-name">{{ course.name }}</h2>
                    {% include "_course-details-inline.html" with course=course %}
                    <div class="chapter-title-wrapper">
                        <div class="chapter-breadcrumb">você está no Capítulo:</div>
                        <div class="chapter-title editable-secondary-title"><input type="text" ng-model="lesson.name" placeholder="{% trans 'Lesson name' %}"></div>
                        <div class="chapter-nav">
                            <button type="button" class="btn btn-sm btn-primary btn-inverse dropdown-toggle" data-toggle="dropdown"><span ng-bind="lesson.name"></span>&nbsp;<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="l in lessons">
                                    <a href="" ng-bind="l.name" ng-click="setLesson(l)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="chapter-certification">
                        <div class="certification-label">Este capítulo contará para a certificação?</div>
                        <div class="certification-swichter">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-xs btn-primary">não</button>
                                <button type="button" class="btn btn-xs btn-primary btn-transparent">sim</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-sm-4">
                    <!-- COURSE-SECTION-NAV -->
                    <nav class="course-sections">
                        <a ng-href="{% url 'administration.edit_course' course.id %}"
                           class="intro{% if course_intro_admin %} active{% endif %}">{% trans 'Home' %}</a>
                        <a ng-href="{% url 'administration.course_material' course.id %}"
                           class="materials{% if '/material/' in request.path %} active{% endif %}">Menu de referências</a>
                        <a ng-href="{% url 'administration.forum' course.id %}"
                           class="forum{% if '/forum/' in request.path %} active{% endif %}">{% trans 'Forum' %}</a>
                        <div class="dropdown">
                            <a class="tools course-tools dropdown-toggle{% if '/messages/' in request.path or '/message/' in request.path or '/reports/' in request.path or '/permissions/' in request.path %} active{% endif %}"
                               data-original-title="{% trans 'Tools' %}"
                               id="course-tools" data-toggle="dropdown" aria-expanded="true"><span class="sr-only">{% trans 'Tools' %}</span></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'administration.messages' course.id %}">{% trans 'Messages' %}</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  ng-href="{% url 'administration.reports' course.id %}">{% trans 'Reports' %}</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'course.permissions' course.id %}">{% trans 'Permissions' %}</a>
                                </li>
                                {% block settings-certificate %}
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" ng-href="{% url 'course.certificate-settings' course.id %}">{% trans 'Certificate settings' %}</a>
                                    </li>
                                {% endblock %}
                            </ul>
                        </div>
                    </nav>
                    <!-- END COURSE-SECTION-NAV -->
                </div>
            </div>
            <!-- END ROW -->
        </div>

    </header>
    <!-- MAIN-HEADER -->

    {% if not course_intro_admin %}
    <!-- UNITS NAVIGATION FOR TABLET AND DESKTOP -->
    <div class="lesson-units-nav hidden-xs">
        <div class="line"></div>
        <div class="container-fluid">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="units">
                <span class="units-title">Unidades</span>
                {% verbatim %}
                <a href="" class="unit" ng-repeat="u in lesson.units"
                   title="{{u.title}}"
                   ng-click="$parent.selectUnit(u);"
                   ng-class="{current: $parent.currentUnit == u}">
                   <span ng-bind="$index + 1"></span>
               </a>
                {% endverbatim %}
                <a href="" class="add-unit unit" ng-click="addUnit()"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    {% endif %}
