{% load i18n %}
    <header class="main-header">
        <div class="container-fluid">
            <!-- ROW -->
            <div class="row">
                {% if course_intro_admin %}
                <div class="col-md-8">
                    <div class="editable-title"><input type="text" ng-model="course.name" placeholder="{% trans 'Course name' %}"></div>
                    <div class="course-slug clearfix">
                      <label>http://{{ site.domain }}/course/</label>
                      {% verbatim %}
                      <div class="editable-slug"><input type="text" ng-model="course.slug" placeholder="{{course.name|slugify}}"></div>
                      {% endverbatim %}
                    </div>
                </div>
                {% else %}
                <div class="col-md-8">
                    <h2 class="course-name">{{ course.name }}</h2>
                    {% include "_course-details-inline.html" with course=course %}
                </div>
                {% endif %}
                <div class="col-md-4">
                    <!-- COURSE-SECTION-NAV -->
                    <nav class="course-sections">
                        <a ng-href="{% url 'administration.edit_course' course.id %}"
                           class="intro{% if course_intro_admin %} active{% endif %}">{% trans 'Home' %}</a>
                        <a ng-href="{% url 'administration.course_material' course.id %}"
                           class="materials{% if '/material/' in request.path %} active{% endif %}">{%  trans 'Course material' %}</a>
                        <a ng-href="{% url 'administration.forum' course.id %}"
                           class="forum{% if '/forum/' in request.path %} active{% endif %}">{% trans 'Forum' %}</a>
                        <div class="dropdown">
                            <a class="tools course-tools dropdown-toggle{% if '/messages/' in request.path or '/message/' in request.path or '/reports/' in request.path or '/permissions/' in request.path %} active{% endif %}"
                               data-original-title="{% trans 'Tools' %}"
                               id="course-tools" data-toggle="dropdown" aria-expanded="true"><span class="sr-only">{% trans 'Tools' %}</span></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'administration.messages' course.id %}">{% trans 'Messages' %}</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  ng-href="{% url 'administration.reports' course.id %}">{% trans 'Reports' %}</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'course.permissions' course.id %}">{% trans 'Permissions' %}</a>
                                </li>
                                {% block settings-certificate %}
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" ng-href="{% url 'course.certificate-settings' course.id %}">{% trans 'Certificate settings' %}</a>
                                    </li>
                                {% endblock %}
                            </ul>
                        </div>
                    </nav>
                    <!-- END COURSE-SECTION-NAV -->
                </div>
            </div>
            <!-- END ROW -->
        </div>
    </header>
    <!-- MAIN-HEADER -->
