{% load i18n %}
{% load staticfiles %}

<div class="container">
    <div class="certificate-container receipt">
      {% block certificate-logo %}
      <div class="certificate-logos">
          <img src="/static/img/logo-avante.png" alt="AVANTE" class="avante" style="left: 159px; position: absolute;">
          <img src="/static/img/site-logo-orange.svg" alt="{{ site.name }}" class="paralapraca" style="position: absolute; top: 29px; left: 301px;">
          <div class="institute-logo">
            <img class="img-responsive" style="max-width: 200px; position: absolute; top: 17px;" src="{{ cert_template.cert_logo_url }}">
          </div>
      </div>
      {% endblock %}
      <div class="certificate-title">Comprovante</div>
      <div class="certificate-info">
          {% block receipt-options-student %}
              <p class="student">{{ object.course_student.user.get_full_name }}{% if object.course_student.user.rg %}, RG {{ object.course_student.user.rg }} {% endif %}</p>
          {%   endblock %}
          <p>concluiu o <em>{{ object.course.name }}</em> </p>
          <p>com carga horária estimada em 40 horas em {{ object.created_date | date:"d/m/Y" }}.</p>
      </div>

      <footer style="display: table-cell; vertical-align: bottom;">
        <div class="credits-section">
            <p><b>Realizado em:</b> ava.paralapraca.org.br</p>
            <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">ava.paralapraca.org.br{% url 'certificate' object.link_hash %}</a></p>
        </div>
        <div class="coordinator-section">
            {% if cert_template.signature_url %}
            <div class="certificate-logos">
                <img alt="Signature" style="max-width: 130px; position: absolute; right: 227px; bottom: 66px;" src="{{ cert_template.signature_url }}">
            </div>
            {% endif %}
            <p class="name-coordinator">{{ cert_template.name }}</p>
            <p class="role-coordinator">{{ cert_template.role }}</p>
        </div>
      </footer>
    </div>
</div>
