<div class="container">
    <div class="certificate-container">
        <div class="certificate-logos">
            <img src="/static/img/logo-avante.png" alt="AVANTE" class="avante">
            <img src="/static/img/site-logo-orange.svg" alt="{{ site.name }}" class="paralapraca">
            <div class="institute-logo">
                <img alt="Logo Instituto" src="{{ cert_template.cert_logo_url }}">
            </div>
        </div>
        <div class="certificate-title">Certificado</div>
        <div class="certificate-info">
            <p>Certificamos que</p>
            <p class="student">{{ object.course_student.user.get_full_name }}</p>
            <p>concluiu o <strong>{{ object.course_student.course.name }}</strong>,</p>
            <p>em <strong>{{ object.modified_date | date:"d/m/Y" }}</strong> no ambiente virtual de aprendizagem do <strong>Programa Paralápraca</strong>,</p> <p>perfazendo o total de 40 horas.</p>

            <!-- <strong>{{ cert_template.organization_name }}</strong> -->
        </div>
        <footer>
            <div class="credits-section">
                <p><b>Emitido em:</b> {{ object.modified_date | date:"d/m/Y" }}</p>
                <p><b>Realizado em:</b> ({{ site.domain }})</p>
                <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">{{ site.domain }}{% url 'certificate' object.link_hash %}</a></p>
            </div>
            <div class="coordinator-section" style="padding-top: 30px;">
                {{ cert_template.name }}<br>
                {{ cert_template.role }}<br>
                {% if cert_template.signature_url %}
                <div class="certificate-logos">
                    <img alt="Signature" style="max-width: 130px; position: absolute; right: 122px; bottom: 66px;" src="{{ cert_template.signature_url }}">
                </div>
                {% endif %}
            </div>
        </footer>
    </div>
</div>
