{% load i18n %}
{% load staticfiles %}

<div class="container">
    <div class="certificate-container receipt">
      {% block certificate-logo %}
      <div class="certificate-logos">
          <img src="/static/img/logo-avante.png" alt="AVANTE" class="avante">
          <div class="institute-logo">
            <img class="img-responsive" src="{{ cert_template.base_logo_url }}">
          </div>
      </div>
      {% endblock %}
      <div class="certificate-title">Comprovante</div>
      <div class="certificate-info">
          {% block receipt-options-student %}
              <p class="student">{{ object.course_student.user.get_full_name }}{% if object.course_student.user.rg %}, RG {{ object.course_student.user.rg }} {% endif %}</p>
          {%   endblock %}
          <p>concluiu o <em>{{ object.course.name }}</em> </p>
          <p>com carga horária estimada em 40 horas em {{ object.created_date | date:"d/m/Y" }}.</p>
      </div>

      <footer>
        <div class="credits-section">
            <p><b>Realizado em:</b> {{ site.domain }}</p>
            <p><b>URL de validação:</b> <a href="{% url 'certificate' object.link_hash %}">{{ site.domain }}{% url 'certificate' object.link_hash %}</a></p>
        </div>
        <div class="coordinator-section">
            <p class="name-coordinator">{{ cert_template.name }}</p>
            <p class="role-coordinator">{{ cert_template.role }}</p>
            {% if cert_template.signature_url %}
            {% verbatim %}  
              <div class="">
                  <img id="sig-logo" alt="Assinatura" ng-model="images.signature" ng-src="{{ ct.signature_url }}" class="img-responsive" />
              </div>
            {% endverbatim %}
            {% endif %}
        </div>
    </div>
</div>
