{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/my-courses/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-courses/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-courses/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-courses/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
<script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
wrapper-courses
{% endblock %}

{% block body_attrs %}
ng-app="my-courses"
{% endblock %}


{% block content %}

    <section class="cards card-page praticas-independentes widget container-fluid">
        <header class="widget-topbar breadcrumb">
            <div class="line">
                <div class="pull-left">
                    <h2 class="title">Assim se faz &gt; Assim se brinca &gt; Assim se curte o outono</h2>
                </div>
                <div class="pull-right">
                    <a class="btn btn-sm btn-success edit" href="#">editar prática</a>
                    <a class="btn btn-sm btn-danger delete" href="#">deletar prática</a>
                </div>
            </div>
  
            <div class="card-page-header line clearfix">
                <h3 class="page-title">assim se faz</h3>
                <a class="category" href="">categoria</a>
                <div class="tags">
                    <a class="tag" herf="#">#lorem</a>
                    <a class="tag" herf="#">#ipsum</a>
                    <a class="tag" herf="#">#lorem</a>
                    <a class="tag" herf="#">#ipsum</a>
                    <a class="tag" herf="#">#lorem</a>
                    <a class="tag" herf="#">#ipsum</a>
                </div>
            </div>

            <div class="card-page-info line">
                <span class="action liked">40 gostaram</span>
                <span class="author">
                    Prática publicada por:
                    <div class="user-icon">
                        <img ng-src="/static/img/avatar-default.png" alt="Nome Usuário" src="/static/img/avatar-default.png">
                    </div>
                    <b>Claudineia Silva</b>
                </span>

            </div>
        </header>

        <div class="card-page-content line">

            <h4 class="title">Chamada para a proposta</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium. Mauris rutrum sed neque et venenatis. Fusce blandit, erat nec malesuada sollicitudin, nunc turpis mattis eros, rhoncus condimentum eros lectus vel ante. Fusce id nulla nec ipsum accumsan tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in pulvinar ante. Donec bibendum efficitur enim, sed malesuada est eleifend aliquam. Phasellus vel massa nec enim finibus porta. Pellentesque iaculis congue commodo. Etiam ut erat sit amet velit pharetra aliquet. Donec mattis sollicitudin elit vel gravida. Nunc quis ex at nunc rutrum tristique. Phasellus in magna at nisi condimentum consequat. Nam et massa aliquam ligula pellentesque placerat ut tincidunt justo.</p>
            
            <p>Etiam vel leo nibh. Sed maximus dui sem. Maecenas condimentum non lorem sed maximus. Maecenas convallis vehicula velit scelerisque dapibus. Donec tristique feugiat lorem id interdum. Vivamus egestas, nunc eget fringilla dapibus, felis eros ornare justo, et tempus diam libero ut nibh. Morbi sollicitudin efficitur commodo. Phasellus ornare volutpat sapien, id tempor lacus facilisis at. Cras in consequat mauris. Suspendisse porttitor arcu ac elit vestibulum ornare.</p>

            <h5 class="subtitle">Você vai precisar de:</h5>

            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>

            <h5 class="subtitle">Desenvolvimento</h5>
            
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
            </ol>

            <div class="sidebar">

                <div class="box">
                    <h5>Dicas</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium. Mauris rutrum sed neque et venenatis. Fusce blandit, erat nec malesuada sollicitudin, nunc turpis mattis eros, rhoncus condimentum eros lectus vel ante.</p>

                    <p>Fusce id nulla nec ipsum accumsan tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in pulvinar ante. Donec bibendum efficitur enim, sed malesuada est eleifend aliquam.</p>
                </div>

                <h5>Tags</h5>

                <div class="tags">
                    <a class="tag" herf="#">#lorem</a>
                    <a class="tag" herf="#">#ipsum</a>
                    <a class="tag" herf="#">#lorem</a>
                    <a class="tag" herf="#">#ipsum</a>
                    <a class="tag" herf="#">#lorem</a>
                    <a class="tag" herf="#">#ipsum</a>
                </div>
            </div>

            <h5 class="subtitle">Para saber mais</h5>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium. Mauris rutrum sed neque et venenatis. Fusce blandit, erat nec malesuada sollicitudin, nunc turpis mattis eros, rhoncus condimentum eros lectus vel ante. Fusce id nulla nec ipsum accumsan tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in pulvinar ante. Donec bibendum efficitur enim, sed malesuada est eleifend aliquam. Phasellus vel massa nec enim finibus porta. Pellentesque iaculis congue commodo. Etiam ut erat sit amet velit pharetra aliquet. Donec mattis sollicitudin elit vel gravida. Nunc quis ex at nunc rutrum tristique. Phasellus in magna at nisi condimentum consequat. Nam et massa aliquam ligula pellentesque placerat ut tincidunt justo.</p>

            <h5 class="subtitle">Autoria</h5>
            
            <h6 class="author">Claudineia Silva</h6>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium. Mauris rutrum sed neque et venenatis. Fusce blandit, erat nec malesuada sollicitudin, nunc turpis mattis eros, rhoncus condimentum eros lectus vel ante.</p>

            <h6 class="author">Joana Terra</h6>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium. Mauris rutrum sed neque et venenatis. Fusce blandit, erat nec malesuada sollicitudin, nunc turpis mattis eros, rhoncus condimentum eros lectus vel ante.</p>

            <div class="actions">
                <a class="action liked"><span>gostei</span></a>
                <span class="action">10 gostaram</span>
            </div>
        </div>

        
    </section>

{% endblock %}
