{% verbatim %}
<div class="cards container-fluid">
   
    <header class="page-header clearfix">
        <div class="pull-left">
            <h2 class="page-title">assim se faz</h2>
        </div>
        <div class="pull-left"><a href="#!/new" class="btn add">nova prática</a></div>
    </header>

    <section class="cards-search">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-7">
                <form ng-submit="get_cards()">
                    <fieldset class="clearfix search-container">
                        <legend class="sr-only">Busca por palavra-chave</legend>
                        <input type="text" placeholder="Insira aqui uma palavra-chave"  class="form-control search-input" ng-model="keyword">
                        <button type="submit" class="search-button">
                            <span class="sr-only">buscar</span>
                        </button>
                    </fieldset>
                    <!--<span class="search-suggestion">
                        sugestões: <a href="#">lorem ipsum,</a> <a href="#">lorem ipsum,</a> <a href="#">lorem ipsum</a>. 
                    </span>-->
                </form>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-5">
                <div class="open-filters-options" ng-class="{opened: show_filter_options, closed: !show_filter_options}" ng-click="show_filter_options = !show_filter_options"></div>
            </div>
        </div>
        
        <form class="cards-filters-options row" ng-show="show_filter_options">
            <div class="form-group col-xs-12 col-md-6 col-lg-3">
                <label>Quais práticas deseja filtrar?</label>
                <select ng-model ="filter.status" class="form-control">
                    <option value="">Todas as práticas publicadas</option>
                    <option value="2">Práticas validadas</option>
                    <option value="3">Práticas independentes</option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-md-6 col-lg-3">
                <label>Público</label>
                <select ng-model="filter.audience" class="form-control">
                    <option value="">Selecione...</option>
                    <option ng-repeat="audience in audiences" ng-value="audience.name">{{ audience.name }}</option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-md-6 col-lg-3">
                <label>Eixo</label>
                <select ng-model="filter.axis" class="form-control">
                    <option value="">Selecione...</option>
                    <option ng-repeat="axis in axes" ng-value="axis.name">{{ axis.name }}</option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-md-6 col-lg-3">
                <label>Tags</label>
                <input type="text" class="form-control" list="tag_list" ng-model="tag" ng-blur="insert_tag(tag)" ng-keypress="($event.charCode == 13) ? insert_tag(tag) : void()" placeholder="Digite e escolha suas tags">
                <datalist id="tag_list" ng-show="tag">
                    <option ng-repeat="tag in tags" ng-value="tag.name"/>
                </datalist>
            </div>
        </form>

        <div class="results-info">
            <div class="results-info-tags">
                <a class="tag active" ng-click="filter.status = '';" ng-show="filter.status == '2'">Práticas validadas</a>
                <a class="tag active" ng-click="filter.status = ''" ng-show="filter.status == '3'">Práticas independentes</a>                
                <a class="tag active" ng-click="filter.audience = ''" ng-hide="filter.audience == ''">{{ filter.audience }}</a>
                <a class="tag active" ng-click="filter.axis = ''" ng-hide="filter.axis == ''">{{ filter.axis }}</a>
                <a class="tag active" ng-repeat="tag in filter.tags" ng-click="remove_tag($index)">#{{ tag }}</a>
            </div>
            <h3 class="results-info-title">
                <span ng-show="cards.all.length == 0">Não foram encontrados resultados</span>
                <span ng-show="cards.all.length == 1">Foi encontrado <b>1</b> resultado</span>
                <span ng-show="cards.all.length > 1">Foram encontrados <b>{{ cards.all.length }}</b> resultados</span>
                <span ng-hide="filter.keyword === ''"> para <b>{{ filter.keyword }}</b></span>.
            </h3>
        </div>
    </section>

    <div ng-show="blank_filters">
        <section class="cards-list praticas-certificadas">
            <div class="row">
                <header class="col-xs-12">
                    <h3 class="subtitle pull-left">
                        Práticas validadas
                        <span>{{ cards.certified.length }} prática<span ng-show="cards.certified.length != 1">s</span></span>
                    </h3>
                    <nav class="cards-pagination pull-left" ng-show="cards.certified.length > 3">
                        <ul>
                            <li class="prev-button" ng-click="certified_slides_down()">
                                <span class="sr-only">anterior</span>
                            </li>
                            <!--<li class="default-button active">
                                <span class="sr-only">1</span>
                            </li>
                            <li class="default-button">
                                <span class="sr-only">2</span>
                            </li>-->
                            <li class="next-button" ng-click="certified_slides_up()">
                                <span class="sr-only">próximo</span>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>

            <div class="row" ng-show="cards.certified.length > 0">
                <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="card in slider.certified">
                    <article class="card">
                        <header>
                            <div class="card-image" style="background-image: url('{{card.image_gallery[0].image}}')"></div>
                            <a class="category" ng-click="filter.audience = card.audience.name">{{ card.audience.name }}</a>
                            
                            <a class="" ng-click="filter.axis = card.axis.name">{{ card.axis.name }}</a>
                            <h4 class="card-title"><a href="#!/{{ card.id }}">{{ card.title }}</a></h4>
                            <span class="card-author">Publicado por: <a href="/profile/{{card.author.username}}">{{ card.author.first_name}} {{ card.author.last_name }}</a></span>
                        </header>

                        <footer>
                            <span class="action liked"><ng-pluralize count="card.likes" when="{'0': '0 gostou', '1': '1 gostou', 'other': '{{ card.likes }} gostaram'}"></span>
                            <div class="tags">
                                <a class="tag" ng-click="insert_tag(tag.name)" ng-repeat="tag in card.tags">#{{ tag.name }}</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>

            <div class="scroll-warning">role a página para ver todas as práticas</div>
        </section>

        <section class="cards-list praticas-independentes">
            <div class="row">
                <header class="col-xs-12">
                    <h3 class="subtitle pull-left">
                        Práticas independentes
                        <span>{{ cards.community.length }} prática<span ng-show="cards.community.length != 1">s</span></span>
                    </h3>
                    <nav class="cards-pagination pull-left" ng-show="cards.community.length > 3">
                        <ul>
                            <li class="prev-button" ng-click="community_slides_down()">
                                <span class="sr-only">anterior</span>
                            </li>
                            <!--<li class="active">
                                <span class="sr-only">1</span>
                            </li>
                            <li>
                                <span class="sr-only">2</span>
                            </li>-->
                            <li class="next-button" ng-click="community_slides_up()">
                                <span class="sr-only">próximo</span>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>

            <div class="row" ng-show="cards.community.length > 0">
                <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="card in slider.community">
                    <article class="card">
                        <header>
                            <div class="card-image" style="background-image: url('{{card.image_gallery[0].image}}')"></div>
                            <a class="category" ng-click="filter.audience = card.audience.name">{{ card.audience.name }}</a>
                            
                            <a class="" ng-click="filter.axis = card.axis.name">{{ card.axis.name }}</a>
                            <h4 class="card-title"><a href="#!/{{ card.id }}">{{ card.title }}</a></h4>
                            <span class="card-author">Publicado por: <a href="/profile/{{card.author.username}}">{{ card.author.first_name}} {{ card.author.last_name }}</a></span>
                        </header>

                        <footer>
                            <span class="action liked"><ng-pluralize count="card.likes" when="{'0': '0 gostou', '1': '1 gostou', 'other': '{{ card.likes }} gostaram'}"></span>
                            <div class="tags">
                                <a class="tag" ng-click="insert_tag(tag.name)" ng-repeat="tag in card.tags">#{{ tag.name }}</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>

            <div class="scroll-warning">role a página para ver todas as práticas</div>
        </section>

        <section class="cards-list">
            <div class="row">
                <header class="col-xs-12">
                    <h3 class="subtitle pull-left">Todas as práticas</h3>
                </header>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="card in cards.all">
                    <article class="card" ng-class="{'praticas-certificadas': card.is_certified, 'praticas-independentes': !card.is_certified}">
                        <header>
                            <div class="card-image" style="background-image: url('{{card.image_gallery[0].image}}')"></div>
                            <a class="category" ng-click="filter.audience = card.audience.name">{{ card.audience.name }}</a>
                            
                            <a class="" ng-click="filter.axis = card.axis.name">{{ card.axis.name }}</a>
                            <h4 class="card-title"><a href="#!/{{ card.id }}">{{ card.title }}</a></h4>
                            <span class="card-author">Publicado por: <a href="/profile/{{card.author.username}}">{{ card.author.first_name}} {{ card.author.last_name }}</a></span>
                        </header>

                        <footer>
                            <span class="action liked"><ng-pluralize count="card.likes" when="{'0': '0 gostou', '1': '1 gostou', 'other': '{{ card.likes }} gostaram'}"></span>
                            <div class="tags">
                                <a class="tag" ng-click="insert_tag(tag.name)" ng-repeat="tag in card.tags">#{{ tag.name }}</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>

            <div class="scroll-warning">role a página para ver todas as práticas</div>  
        </section>
    </div>

    <div ng-show="!blank_filters">
        <div class="row" ng-show="cards.all.length > 0">
            <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="card in cards.all">
                <article class="card" ng-class="{'praticas-certificadas': card.is_certified, 'praticas-independentes': !card.is_certified}">
                    <header>
                        <div class="card-image" style="background-image: url('{{card.image_gallery[0].image}}')"></div>
                        <a class="category" ng-click="filter.audience = card.audience.name">{{ card.audience.name }}</a>
                        
                        <a class="" ng-click="filter.axis = card.axis.name">{{ card.axis.name }}</a>
                        <h4 class="card-title"><a href="#!/{{ card.id }}">{{ card.title }}</a></h4>
                        <span class="card-author">Publicado por: <a href="/profile/{{card.author.username}}">{{ card.author.first_name}} {{ card.author.last_name }}</a></span>
                    </header>

                    <footer>
                        <span class="action liked"><ng-pluralize count="card.likes" when="{'0': '0 gostou', '1': '1 gostou', 'other': '{{ card.likes }} gostaram'}"></span>
                        <div class="tags">
                            <a class="tag" ng-click="insert_tag(tag.name)" ng-repeat="tag in card.tags">#{{ tag.name }}</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="not-found">Não encontrou o que procurava? Tente remover alguns <b>filtros de busca</b> ou tentar outra palavra-chave.</p>
            </div>
        </div>
    </div>
    
</div>
{% endverbatim %}