{% verbatim %}
<section class="cards card-page card-edit widget container-fluid" ng-class="{'praticas-certificadas': card.is_certified, 'praticas-independentes': !card.is_certified}">
    <header class="widget-topbar line one-column">
        <div class="column">
            <div class="pull-right">
				<a class="btn btn-sm btn-primary edit" ng-click="create_card()" ng-show="!editing_mode">criar prática</a>				
                <a class="btn btn-sm btn-primary edit" ng-click="update_card()" ng-show="editing_mode">salvar prática</a>
                <a class="btn btn-sm btn-danger delete" ng-click="delete_card()" ng-show="editing_mode">apagar prática</a>
            </div>
        </div>
    </header>

    <div class="card-page-content">
        <header class="card-page-header-edit">
            <form class="cards-filters-options row">
                <div class="form-group col-xs-12 col-md-6 col-lg-3">
                    <label>Público <span class="help-text">(campo obrigatório)</span></label>
                    <select class="form-control" ng-model="card.audience.id" required>
                        <option ng-repeat="audience in audiences track by audience.id" ng-value="audience.id">{{ audience.name }}</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-md-6 col-lg-3">
                    <label>Eixo <span class="help-text">(campo obrigatório)</span></label>
                    <select class="form-control" ng-model="card.axis.id" required>
                        <option ng-repeat="axis in axes track by axis.id" ng-value="axis.id">{{ axis.name }}</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-md-6 col-lg-3">
                    <label>Tags</label>
					<ui-select multiple theme="bootstrap" ng-model="card.tags" tagging="new_tag" title="Selecione uma tag...">
						<ui-select-match placeholder="Selecione uma tag...">#{{ $item.name}}</ui-select-match>
						<ui-select-choices repeat="tag in tags" group-by="">
							<div>{{ tag.name }}</div>
						</ui-select-choices>
					</ui-select>
                </div>
            </form>

            <div class="editable-title col-sm-12 col-lg-9">
                <input type="text" class="title" placeholder="Título (campo obrigatório)" ng-model="card.title" maxlength="70" required>
            </div>

            <p class="tipo-pratica col-sm-12">
                <span ng-show="card.is_certified">Sua prática foi certificada pela Avante.</span>
                <span ng-show="!card.is_certified">Sua prática é independente.</span>
                <span ng-show="card.certifiable"><br/><input type="checkbox" ng-model="card.is_certified" ng-checked="card.is_certified"> Certificar prática</span>
            </p>
        </header>
        
        <div class="editable-title col-sm-12 col-lg-9">
            <input type="text" class="subtitle" placeholder="Chamada para proposta" ng-model="card.lead" maxlength="70">
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
				<div class="editable editable-text-box" ng-bind-html="card.text || 'Clique para editar'" ng-click="text_backup = card.text; show_text_editor = true" ng-show="!show_text_editor"></div>
				<div ng-show="show_text_editor">
					<textarea ui-tinymce="tinymceOptions" ng-model="card.text"></textarea>
                    <div class="btn btn-success save" ng-click="show_text_editor = false">Feito</div>
                    <div class="btn btn-danger delete" ng-click="card.text = text_backup; show_text_editor = false">Cancelar</div>
				</div>

                <h5 class="subtitle">Você vai precisar de:</h5>
				<div class="editable editable-text-box" ng-bind-html="card.you_will_need || 'Clique para editar'" ng-click="you_will_need_backup = card.you_will_need; show_you_will_need_editor = true" ng-show="!show_you_will_need_editor"></div>
				<div ng-show="show_you_will_need_editor">
					<textarea ui-tinymce="tinymceOptions" ng-model="card.you_will_need"></textarea>
                    <div class="btn btn-success save" ng-click="show_you_will_need_editor = false">Feito</div>
                    <div class="btn btn-danger delete" ng-click="card.you_will_need = you_will_need_backup; show_you_will_need_editor = false">Cancelar</div>
				</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <!--<button class="btn btn-xs btn-primary add-image" ngf-select="show_video_form = false; upload_image($file)" ngf-multiple="false">adicionar imagem</button>
                <button class="btn btn-xs btn-primary add-video" ng-click="show_video_form = true">adicionar vídeo</button>

                <div ng-show="show_video_form">
                    <input type="text" ng-model="video_url">
                    <button class="btn btn-xs edit" ng-click="embed_video(); show_video_form = false">inserir vídeo</button>
                </div>

                <p>
                    <a ng-repeat="image in card.image_gallery" ng-click="select_image($index)"><i class="fa fa-picture-o">{{ $index + 1 }}</i></a>
                    <a ng-repeat="video in card.youtube_embeds" ng-click="select_video($index)"><i class="fa fa-film">{{ $index + card.image_gallery.length + 1 }}</i></a>
                </p>

                <div ng-show="selected_image">
                    <img class="img-thumbnail" ng-src="{{ selected_image.image }}">
                    <button class="btn btn-warning" ng-click="remove_image(selected_image_index)"><i class="fa fa-trash-o"></i></button>
                </div>

                <div ng-repeat="video in card.youtube_embeds">
                    <!-<iframe width="560" height="315" ng-src="https://www.youtube.com/embed/{{video.video_id}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>->
                    <p>{{ video.video_id}}</p>
                    <button class="btn btn-warning" ng-click="remove_video($index)"><i class="fa fa-trash-o"></i></button>
                </div>-->

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <button class="btn btn-primary">1</button> <!-- ativo -->
                        <button class="btn btn-default">2</button> <!-- não ativo -->
                        <button class="btn btn btn-success">+</button>
                    </div>
                    <div class="panel-body">
                        <div class="question textleft">
                            <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <section class="thumbnail">
                            <div class="row" ng-show="!currentActivity.image_show">
                                <div class="add-thumbnail col-sm-12 col-lg-12 textcenter">
                                    <div class="centered">
                                        <i class="fa fa-picture-o fa-4x"></i>
                                        <h1>Imagem</h1>
                                        <p>(largura mínima: 845px)</p>
                                        <input type="file" ngf-select="" ng-model="image_up" name="file" accept="image/*" ngf-max-size="20MB" required="" ngf-model-invalid="errorFile" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">

                                        <button class="btn btn-sm btn-success add">Adicionar</button>
                                        <!--<button class="btn btn-sm btn-danger delete">Cancelar</button>-->
                                    </div>
                                </div>

                                <div class="add-video-intro col-sm-12 col-lg-12 textcenter">
                                    <div class="centered">
                                        <div class="form-group">
                                            <i class="fa fa-youtube-play fa-4x"></i>
                                            <h1>Insira URL do vídeo:</h1>
                                            <input type="text" tabindex="8" ng-model="youtube_id" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <button tabindex="9" class="btn btn-success save" ng-show="!course.intro_video.youtube_id" ng-click="setCurrentUnitVideo()">adicionar</button>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                
                                    alterar imagem

                                <div class="centered">
                                    <img src="http://placehold.it/300x150" class="img-responsive">

                                    <button class="btn-edit-thumbnail btn btn-sm btn-primary edit">Alterar imagem</button>
                                </div> -->
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">

                <h5 class="subtitle">Desenvolvimento</h5>                    
                <div class="editable editable-text-box" ng-bind-html="card.development || 'Clique para editar'" ng-click="development_backup = card.development; show_development_editor = true" ng-show="!show_development_editor"></div>
                <div ng-show="show_development_editor">
                    <textarea ui-tinymce="tinymceOptions" ng-model="card.development"></textarea>
                    <div class="btn btn-success save" ng-click="show_development_editor = false">Feito</div>
                    <div class="btn btn-danger delete" ng-click="card.development = development_backup; show_development_editor = false">Cancelar</div>
                </div>

                <h5 class="subtitle">Para saber mais</h5>
                <div class="editable editable-text-box" ng-bind-html="card.know_more || 'Clique para editar'" ng-click="know_more_backup = card.know_more; show_know_more_editor = true" ng-show="!show_know_more_editor"></div>
                <div ng-show="show_know_more_editor">
                    <textarea ui-tinymce="tinymceOptions" ng-model="card.know_more"></textarea>
                    <div class="btn btn-success save" ng-click="show_know_more_editor = false">Feito</div>
                    <div class="btn btn-danger delete" ng-click="card.know_more = know_more_backup; show_know_more_editor = false">Cancelar</div>
                </div>
    
                <h5 class="subtitle">Autoria <div class="btn btn-sm add" ng-click="add_author()">Adicionar pessoa</div></h5>
				<div ng-repeat="author in card.authors">			
					<div class="editable-title">
						<input type="text" class="author" placeholder="Nome" ng-model="author.author_name">
					</div>
					<textarea ui-tinymce="tinymceOptions" ng-model="author.author_description"></textarea>
				</div>
            </div>
    
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="sidebar">
                    <div class="box">
                        <h5>Dicas</h5>
                        <div class="editable editable-text-box" ng-bind-html="card.hint || 'Clique para editar'" ng-click="hint_backup = card.hint; show_hint_editor = true" ng-show="!show_hint_editor"></div>
                        <div ng-show="show_hint_editor">
                            <textarea ui-tinymce="tinymceOptions" ng-model="card.hint"></textarea>
                            <div class="btn btn-success save" ng-click="show_hint_editor = false">Feito</div>
                            <div class="btn btn-danger delete" ng-click="card.hint = hint_backup; show_hint_editor = false">Cancelar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endverbatim %}