{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/cards-app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cards-controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cards-services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cards-directives.js' %}"></script>
<script type="text/javascript" src="{% static 'ng-file-upload/ng-file-upload.js' %}"></script>

<script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
wrapper-courses
{% endblock %}

{% block body_attrs %}
ng-app="cards"
{% endblock %}


{% block content %}

    <ng-view></ng-view>

{% endblock %}
