{% verbatim %}
<section class="cards card-page widget container-fluid">
    <header class="widget-topbar breadcrumb">
        <div class="line">
            <div class="pull-left">
                <h2 class="title">Assim se faz &gt; {{ card.axis.name }} &gt; {{ card.title }}</h2>
            </div>
            <!--<div class="pull-right">
                <a class="btn btn-sm btn-success edit" href="#">editar prática</a>
                <a class="btn btn-sm btn-danger delete" href="#">deletar prática</a>
            </div>-->
        </div>

        <div class="card-page-header clearfix">
            <h3 class="page-title">{{ card.title }}</h3>
            <a class="category" href="">{{ card.audience.name }}</a>
            <div class="tags">
                <a class="tag" ng-repeat="tag in card.tags">#{{ tag.name }}</a>
            </div>
        </div>

        <div class="card-page-info">
            <span class="action liked">{{ card.likes }} gostaram</span>
            <span class="author">Prática publicada por: <a href="/profile/{{card.author.username}}">{{card.author.first_name}} {{card.author.last_name}}</a></span>
            <div class="user-icon">
                <img src="{{ card.author.picture }}" alt="Nome Usuário"/>
            </div>
        </div>
    </header>

    <div class="card-page-content">

        <div ng-show="card.title">
            <h4 class="title">Chamada para a proposta</h4>
            {{ card.title }}
        </div>

        <div ng-show="card.you_will_need">
            <h5 class="subtitle">Você vai precisar de:</h5>
            {{ card.you_will_need }}
            <!--<ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>-->
        </div>

        <div ng-show="card.development">
            <h5 class="subtitle">Desenvolvimento</h5>
            {{ card.development }}
            <!--<ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet rhoncus risus. Fusce pharetra non odio ac pretium.</li>
            </ol>-->
        </div>

        <div class="sidebar">

            <div class="box" ng-show="card.hint">
                <h5>Dicas</h5>
                <p>{{ card.hint }}</p>
            </div>

            <div ng-show="card.tags != []">
                <h5>Tags</h5>
                <div class="tags">
                    <a class="tag" ng-repeat="tag in card.tags">{{ tag.name }}</a>
                </div>
            </div>
        </div>

        <div ng-show="card.know_more">
            <h5 class="subtitle">Para saber mais</h5>
            {{ card.know_more }}
        </div>

        <h5 class="subtitle">Autoria</h5>
        
        <h6 class="author">{{ card.author.first_name }} {{ card.author.last_name }}</h6>

        <p>{{ card.author.bio }}</p>

        <div class="actions">
            <!--<a class="action liked"><span>gostei</span></a>-->
            <span class="action">{{ card.likes }} gostaram</span>
        </div>
    </div>
    
</section>
{% endverbatim %}
