{% extends 'base.html' %}
{% load compress %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}

    {% compress js %}
    <!-- Core -->
    <script type="text/javascript" src="{% static 'js/core/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'angular-tweet-filter/index.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'angular-sortable-view/src/angular-sortable-view.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}" charset="utf-8"></script>

    <!-- Certificate -->
    <script type="text/javascript" src="{% static 'js/certificate/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'checklist-model/checklist-model.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/file.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/previewImage.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}" charset="utf-8"></script>

    <!-- PDF generation dependencies -->
    <script type="text/javascript" src="{% static 'bluebird/js/browser/bluebird.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'html2canvas/build/html2canvas.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'jspdf/dist/jspdf.min.js' %}" charset="utf-8"></script>
    {% endcompress %}
{% endblock %}

{% block body_attrs %}
  ng-app="certification"
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div id="certificate">
    {% if object.type == 'receipt' %}
        {% if user.is_authenticated %}
            {% include "_course-header-inline.html"  with course=object.course_student.course %}
        {% else %}
            {% include "_go-to-course-button-inline.html"  with course=object.course_student.course %}
        {% endif %}
    {% endif %}
    <section id="certificate-content" class="container-fluid">
        <div>
            {% if object.course_student.user.is_profile_filled %}
                <div class="row">
                    <div class="container">
                        <a id="download-certificate" href="#" onclick="printToPDF()"
                           class="btn btn-sm btn-primary pull-right hidden-print download">
                            {% if object.type == 'receipt' %}
                                Baixar Comprovante
                            {% else %}
                                Baixar Certificado
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div id="certificate-id-print" style="margin-bottom: 100px; padding-bottom: 100px;">
                    {% if object.type == 'receipt' %}
                        {% include "_certificate-receipt.html" %}
                    {% else %}
                        {% include "_certificate-certificate.html" %}
                    {% endif %}
                </div>
            {% else %}
            <div class="certificate-container receipt">
                <!-- TODO: translate -->
                <p class="text-uppercase student-name">{% trans 'Este Atestado não está disponível pois o perfil do usuário não está preenchido.' %}</p>
                {% if user.is_authenticated and user == object.course_student.user %}
                    <p><a href="{% url 'profile_edit' %}?next=/certificate/{{ object.link_hash }}">Clique aqui</a> para preencher o perfil e acessar o certificado.</p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </section>
</div>
<script type="text/javascript" src="{% static 'js/certificate-to-pdf.js' %}" charset="utf-8"></script>
{% endblock %}
