{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load compress %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
{{ block.super }}

<script type="text/javascript" src="{% url 'djangular' %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core-services.js' %}"></script>

<!-- Edit Class -->
<script type="text/javascript" src="{% static 'js/directives/waiting-screen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/edit-class/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/edit-class/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/edit-class/services.js' %}"></script>
<script type="text/javascript" src="{% static 'checklist-model/checklist-model.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-ui-select/dist/select.js' %}"></script>
{% endcompress %}
{% endblock %}


{% block body_attrs %}
  ng-app="edit_class"
{% endblock %}

{% block content %}
<div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" ng-app>
            {% include '_create_class_modal.html' %}
        </div>
    </div>
</div>

<div class="course course-classes" ng-controller="ClassesListController">
    {% include "_course-header-inline.html"  with course=course %}
    <section class="classes-content page container-fluid">
    	<header class="page-header">
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-9">
                    <h3>{% trans 'Classes' %}</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#class-modal">{% trans 'Add class' %}</a>
                </div>
            </div>
        </header>
        <form class="add-users">
            <div class="form-row">
                <label for="select-contract">Selecionar contrato: </label>
                <div class="autocomplete">
                    <select id="select-contract" class="form-control" ng-model="filters.contract" ng-options="contract.name for contract in contracts track by contract.id">
                        <option value="">Todos os contratos</option>
                    </select>
                </div>
            </div>
        </form>
        <table class="table table-striped" ng-show="classes.filtered.length > 0">
            <thead>
                <tr>
                    <th class="classname">{% trans "Class name" %}</th>
                    <th class="assistant">{% trans "Assistant Professor" %}</th>
                    <th class="students">{% trans "Students" %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                <tr ng-repeat="klass in classes.filtered">
                    <td><a ng-href="/class/{{klass.id}}/">{{ klass.name }}</a></td>
                    <td>
                        <span ng-repeat="assistant in klass.assistants">
                            {{ assistant.name }}<br/>
                        </span>
                    </td>
                    <td>{{ klass.students.length }}</td>
                    <td class="actions">
                        <a ng-href="/class/{{klass.id}}/" class="btn btn-sm btn-success edit">editar</a>
                    </td>
                </tr>
                {% endverbatim %}
            </tbody>
        </table>
        <p ng-hide="classes.filtered.length > 0">Nenhuma turma encontrada.</p>
    </section>
</div>
{% endblock %}
