{% verbatim %}
<div class="contracts contracts-edit widget container-fluid">

    <header class="widget-topbar line one-column">
        <h2 class="page-title">contratos</h2>
    </header>

    <h3 ng-if="!editing_mode">Novo contrato</h3>
    <h3 ng-if="editing_mode">Edição de contrato</h3>

    <form>
        <div class="row">
            <div class="col-xs-12">
                <label>Nome do contrato</label>
                <input ng-model="contract.name" type="text" class="form-control" placeholder="Digite aqui o nome do contrato">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label>Descrição de contrato</label>
                <textarea class="form-control" ng-model="contract.description"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>Grupos de usuários</label>
                <ui-select multiple theme="bootstrap" class="form-control" ng-model="contract.groups" title="Escolha um ou mais módulos">
                    <ui-select-match placeholder="Escolha um ou mais grupos de usuários">{{ $item.name }}</ui-select-match>
                    <ui-select-choices repeat="group in groups | filter: {name: $select.search}" group-by="">
                        <div ng-bind-html="group.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-xs-12 col-md-6">
                <label>Turmas</label>
                <ui-select multiple theme="bootstrap" class="form-control" ng-model="contract.classes" title="Escolha um ou mais módulos">
                    <ui-select-match placeholder="Escolha uma ou mais turmas">{{ $item.name }}</ui-select-match>
                    <ui-select-choices repeat="klass in classes | filter: {name: $select.search}" group-by="">
                        <div ng-bind-html="klass.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>Municípios</label>
                <input type="text" class="form-control" placeholder="Digite o nome do municípios separados por vírgula">
            </div>

            <div class="col-xs-12 col-md-6">
                <label>Importar usuários</label>
                <div class="flex">
                    <input type="text" class="form-control" placeholder="Somente arquivos em formato CSV">
                    <button class="btn btn-sm btn-default attach">procurar</button>
                </div>
                <span class="see-all">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <a href="#modal">ver todos os usuários</a>
                </span>
            </div>
        </div>

        <button class="btn btn-sm btn-primary save pull-right">salvar contrato</button>
    </form>

    <div class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">× fechar</button>
                    <h4 class="modal-title">Usuários neste contrato (XXX)</h4>
                </div>
                <div class="modal-body">
                    <ul class="contract-user-list">
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                        <li>
                            <span class="user-icon">
                                <img src="https://placeholdit.co//i/40x40">
                            </span>
                            <span class="user-name">Cecília Ramos Rodrigues</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
