{% verbatim %}
<div class="contracts contracts-list widget container-fluid">

    <header class="widget-topbar line one-column">
        <h2 class="page-title pull-left">contratos</h2>
        <a href="#!/new" class="btn btn-warning add pull-right">novo contrato</a>
    </header>

    <div class="contract-unit" ng-repeat="contract in contracts track by contract.id">
        <h4 class="contract-title"><a href="/contracts/#!/{{contract.id}}">{{ contract.name }}</a></h4>
        <div class="contract-content">
            <div class="row">
                <div class="col-sm-7 col-md-8 col-lg-9 contract-text">{{ contract.description }}</div>
                <div class="col-sm-5 col-md-4 col-lg-3">
                    <a href="#!/{{contract.id}}/edit" class="btn btn-xs btn-primary edit">editar</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endverbatim %}

