{% verbatim %}
<div class="contracts contracts-list widget container-fluid">

    <header class="widget-topbar line one-column">
        <h2 class="page-title pull-left">contratos</h2>
        <a href="" class="btn btn-warning add pull-right">novo contrato</a>
    </header>

    <div class="contract-unit">
        <h4 class="contract-title">Lorem ipsum dolor sit amet </h4>
        <div class="contract-info"> | <b>Contrato válido até:</b> 25 de novembro de 2016</div>
        <div class="contract-content">
            <div class="row">
                <div class="col-sm-7 col-md-8 col-lg-9 contract-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                <div class="col-sm-5 col-md-4 col-lg-3">
                    <button class="btn btn-xs btn-primary edit">editar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="contract-unit">
        <h4 class="contract-title">Lorem ipsum dolor sit amet </h4>
        <div class="contract-info"> | <b>Contrato válido até:</b> 25 de novembro de 2016</div>
        <div class="contract-content">
            <div class="row">
                <div class="col-sm-7 col-md-8 col-lg-9 contract-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                <div class="col-sm-5 col-md-4 col-lg-3">
                    <button class="btn btn-xs btn-primary edit">editar</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endverbatim %}
