{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/my-courses/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-courses/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-courses/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-courses/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
<script>window.user_id = {{ user.pk }};</script>
{% endblock %}

{% block wrapper_classes %}
wrapper-courses
{% endblock %}

{% block body_attrs %}
ng-app="my-courses"
{% endblock %}


{% block content %}
        <!-- CONTAINER -->
        <div class="courses-page page container-fluid" ng-controller="CourseListController">
            <header class="page-header">
                <h2><i class="fa fa-angle-double-right"></i> Módulos</h2>
            </header>
            {% verbatim %}
            <section class="courses-list row" ng-cloak>
                <div class="col-md-8 col-lg-9">
                    <!-- COURSE -->
                    <div class="course-box course-widget widget" ng-repeat="course in courses">
                        <div class="line two-column fifty-fifty">
                            <div ng-if="course.course_student" class="course-progress column">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{course.course_student.percent_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{course.course_student.percent_progress}}%;">
                                    </div>
                                </div>
                            </div>
                            <div ng-if="course.course_student" class="progress-label column">{{course.course_student.percent_progress}}% completo</div>
                        </div>
                        <div class="line two-column fifty-fifty">
                            <div class="course-thumb column">
                                <a ng-href="/course/{{ course.slug }}/resume" class="course-link">
                                    <div class="course-thumb-bg" ng-style="{'background-image':'url('+course.thumbnail_url+')'}"></div>
                                </a>
                                <!--<div ng-if="!course.home_thumbnail" class="course-thumb-bg"></div>-->
                                <a ng-if="course.course_student"
                                   ng-href="/course/{{ course.slug }}/resume"
                                   class="continue">continuar módulo</a>

                                <a ng-if="course.course_student===undefined"
                                   ng-href="/course/{{ course.slug }}/resume"
                                   class="start">começar módulo</a>
                            </div>
                            <div class="course-description column">
                                <h3 class="course-title"><a ng-href="/course/{{ course.slug }}/resume"
                                   class="course-link">{{ course.name }}</a></h3>
                                <div  class="course-info">
                                    <a ng-href="/course/{{ course.slug }}/resume" class="course-link">
                                        <p ng-if="course.course_student"><b>Iniciado em:</b> {{course.course_student.course.start_date | date: "dd/MM/yyyy"}}</p>
                                        <!--<p>você parou em <span class="unit-title">Nome da Unidade e Também o Nome da Aula</span></p>-->
                                    </a>
                                    <p ng-if="course.is_assistant_or_coordinator"><a ng-href="/course/{{ course.slug }}/reports" class="see-report">Ver relatório</a></p>
                                    <p ng-if="!course.course_student">Você ainda não começou este móodulo </p>
                                </div>
                                <!--<p class="course-update"><strong>atualização:</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit | <span>xx horas atrás</span></p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-4 col-lg-3">-->
                    <!--<div class="course-filters">-->
                        <!--&lt;!&ndash;  FORM INLINE &ndash;&gt;-->
                        <!--<div class="form-inline">-->
                            <!--<ul>-->
                                <!--<li class="selected">todas</li>-->
                                <!--<li>em andamento</li>-->
                                <!--<li>formações fixas</li>-->
                                <!--<li>mini formações</li>-->
                                <!--<li>tic's e tac's</option>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END FORM INLINE &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                {% endverbatim %}
            </section>
        </div>
        <!-- CONTAINER -->
{% endblock %}
