{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block js %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'angular-ui-select/dist/select.css' %}">
    {% endcompress %}

    <script type="text/javascript" src="{% static 'tinymce-dist/tinymce.js' %}"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/timtec-discussion-app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-ui-tinymce/src/tinymce.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui.tinymce.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'ng-file-upload/ng-file-upload.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-ui-select/dist/select.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block body_attrs %}
  ng-app="timtec.discussion"
{% endblock %}

{% block content %}

<ng-view></ng-view>

{% verbatim %}
<script type="text/ng-template" id="forum.html">
    <section class="forums forums-page forums-widget widget container-fluid" ng-cloak>
        <!-- <div class="widget-topbar line one-column">
            <div class="column">
                <button class="btn btn-link clean">limpar filtro</button>
                <button class="btn btn-link filter">filtrar por tags e categorias</button>
            </div>
        </div> -->
        <div class="widget-topbar line one-column filters" ng-show="filters.categories">
            <div class="filters-header">
                <span class="col-sm-2">
                    categorias
                </span>
                <span class="col-sm-8">
                    tags
                </span>
                <span class="col-sm-2">
                    opções
                </span>
            </div>
            <div class="filters-options">
                <div class="col-sm-2">
                    <a ng-click="forumFilter('rem','cat',category)"
                       class="category"
                       ng-repeat="category in filters.categories track by $index"><span>{{category.name}} <b>&times;</b></span></a>
                </div>
                <div class="col-sm-8">
                    <a ng-click="forumFilter('rem','tag',tag)"
                       class="tag"
                       ng-repeat="tag in filters.tags track by $index"><span>#{{tag.name}} <b>&times;</b></span></a>
                </div>
                <div class="col-sm-2" ng-show="forum_search">
                    <button class="btn btn-link clean" ng-click="forumFilter('clear')">limpar</button>
                </div>
            </div>
        </div>

        <header class="widget-header line one-column">
            <div class="column" ng-style="forum_single && {'border-bottom':'1px solid #de6f10','padding-bottom':'5px','margin-bottom':'5px'}">
                <h2 ng-if="forum_single" class="widget-title">{{forum.title}}</h2>
                <h2 ng-if="!forum_single" class="widget-title">fóruns</h2>
                <a class="btn btn-success new-topic"
                   href="/discussion/topic/new/#!/topic/new/" > criar novo tópico</a>
            </div>
            <div class="column">
                <!-- <form class="widget-filter form-inline">
                    <input class="form-control" type="text" placeholder="Busca nos fóruns..." ng-model="search" uib-typeahead="result for results in getResults($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                </form> -->
            </div>
        </header>

        <div class="line one-column" ng-if="!forum_single && !forum_search">
            <div class="column">
                <h3 class="section-title">últimas postagens</h3>
            </div>
        </div>

        <div class="line two-column fifty-fifty" ng-if="!forum_single && !forum_search">
            <div class="user-update column" ng-repeat="topic in latest_topics">
                <div class="user-icon">
                    <img ng-src="{{ topic.author.picture }}" alt="{{ topic.author.name }}">
                </div>
                <div class="info">
                    <a ng-href="/profile/{{ topic.author.username }}">
                      <b>{{ topic.author.name }}</b>
                  </a> comentou no tópico <a href="/discussion/topic/#!/topic/{{ topic.id }}" class="thread-name">{{ topic.title }}</a> no fórum <a ng-href="/discussion/#!/forum/{{ topic.forum }}">{{ topic.forum_info.title }}</a>
                </div>
                <div class="actions">
                    <span class="action replies"
                          ng-class="{ 'active': topic.count_replies }"
                          translate
                          translate-n="topic.count_replies"
                          translate-plural="{{$count}} respostas">1 resposta</span>
                    <span class="action liked"
                          ng-class="{ 'active': topic.count_likes }"
                          translate
                          translate-n="topic.count_likes"
                          translate-plural="{{$count}} gostaram">1 gostou</span>
                    <span class="last-update">Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                </div>
            </div>
        </div>

        <div ng-repeat="forum in forums">
            <div ng-hide="filters!==undefined && forum.topics.length===0">
                <div class="line one-column" ng-if="!forum_single">
                    <div class="column">
                        <h3 class="section-title">
                            <a ng-href="/discussion/#!/forum/{{ forum.id }}">{{ forum.title }}</a>
                            <button class="btn btn-link btn-sm"
                                ng-if="forum.topics.length>0"
                                ng-init="forum.show_forum=true"
                                ng-class="forum.show_forum ? 'hide-all': 'show-all'"
                                ng-click="forum.show_forum=!forum.show_forum">
                                <span ng-show="!forum.show_forum">ver</span>
                                <span ng-show="forum.show_forum">ocultar</span>
                            </button>
                        </h3>
                    </div>
                </div>
                <!-- <div class="column" ng-show="( forum_single && !topics_loaded ) || !forums.$resolved">
                    <h3 class="section-title"><span>Carregando tópicos...</span></h3>
                </div> -->
                <div class="column" ng-show="forum.topics.length==0 && forums.$resolved">
                    <p class="empty-forum">Este fórum ainda não possui nenhum tópico.</p>
                </div>

                <div class="forum-list" ng-show="forum.show_forum || forum_single" ng-if="forum.topics.length>0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>tópico</th>
                                <th>reações</th>
                                <th>categorias</th>
                                <th>tags</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="topic in forum.topics">
                                <td>
                                    <a ng-href="/discussion/topic/#!/topic/{{ topic.id }}"><span class="thread-name">{{ topic.title }}</span></a>
                                    <span class="last-update">Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                                </td>
                                <td>
                                    <span class="action replies small">{{ topic.count_replies }}</span>
                                    <span class="action liked small">{{ topic.count_likes }}</span>
                                </td>
                                <td>
                                    <a ng-repeat="category in topic.categories"
                                          ng-click="forumFilter('add','cat',category)"
                                          class="category">{{ category.name }}</a>
                                </td>
                                <td>
                                    <div class="tags">
                                    <a ng-repeat="tag in topic.tags"
                                          ng-click="forumFilter('add','tag',tag)"
                                          class="tag">#{{ tag.name }}</a>
                                    </div>
                                </td>
                            </tr>
                            <!--<tr class="new">-->
                                <!--<td>-->
                                    <!--<span class="thread-name">Lorem ipsum dolor sit amet</span>-->
                                    <!--<span class="last-update">Última atividade <b>há 2 horas</b></span>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="action replies small">1</span>-->
                                    <!--<span class="action liked small">4</span>-->
                                    <!--<span class="action used small">7</span>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="category discussion">discussão</span>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<div class="tags">-->
                                        <!--<span class="tag">#lorem</span><span class="tag">#ipsum</span><span class="tag">#lorem</span>-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                    <div ng-show="!forum_single && !forum_search" class="see-all-topics">
                        <a class="btn btn-sm btn-primary" ng-href="/discussion/#!/forum/{{ forum.id }}">Ver todos os tópicos deste fórum</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
{% endverbatim %}
{% endblock %}
