{% extends 'base.html' %}
{% load i18n %}
{% load is_coordinator %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
    {% javascript 'timtec-discussion' %}
{% endblock %}

{% block body_attrs %}
  ng-app="timtec.discussion"
{% endblock %}

{% block content %}

<ng-view></ng-view>

{% verbatim %}
<script type="text/ng-template" id="forum.html">
    <section class="forums forums-page forums-widget widget container-fluid" ng-cloak>
        <div class="widget-topbar line one-column">
            <!--<div class="column">-->
                <!--<button class="btn btn-link clean">limpar filtro</button>-->
                <!--<button class="btn btn-link filter">filtrar por tags e categorias</button>-->
            <!--</div>-->
        </div>

        <header class="widget-header line one-column">
            <div class="column">
                <h2 ng-if="forum_single" class="widget-title">{{forum.title}}</h2>
                <h2 ng-if="!forum_single" class="widget-title">fóruns</h2>
                <a class="btn btn-success new-topic"
                   href="/discussion/topic/new/#!/topic/new/" > criar novo tópico</a>
            </div>
            <div class="column">
                <!-- <form class="widget-filter form-inline">
                    <input class="form-control" type="text" placeholder="Busca nos fóruns..." ng-model="search" uib-typeahead="result for results in getResults($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                </form> -->
            </div>
        </header>

        <div class="line one-column" ng-if="!forum_single">
            <div class="column">
                <h3 class="section-title">últimas postagens</h3>
            </div>
        </div>

        <div class="line two-column fifty-fifty" ng-if="!forum_single">
            <div class="user-update column" ng-repeat="topic in latest_topics">
                <div class="user-icon">
                    <img ng-src="{{ topic.author.picture }}" alt="{{ topic.author.name }}">
                </div>
                <div class="info">
                    <a ng-href="/profile/{{ topic.author.username }}">
                      <b>{{ topic.author.name }}</b>
                  </a> comentou no tópico <a href="/discussion/topic/#!/topic/{{ topic.id }}" class="thread-name">{{ topic.title }}</a> no fórum <a ng-href="/discussion/#!/forum/{{ topic.forum }}">{{ topic.forum_info.title }}</a>
                </div>
                <div class="actions">
                    <span translate
                          translate-n="topic.count_replies"
                          translate-plural="{{$count}} respostas">1 resposta</span>
                    <span translate
                          translate-n="topic.count_likes"
                          translate-plural="{{$count}} gostaram">1 gostou</span>
                </div>
            </div>
        </div>

        <div ng-repeat="forum in forums">
            <div class="line one-column" ng-if="!forum_single">
                <div class="column">
                    <h3 class="section-title"><a ng-href="/discussion/#!/forum/{{ forum.id }}">{{ forum.title }}</a></h3>
                </div>
            </div>

            <div class="line one-column">

            </div>
            <div class="column" ng-if="!topics_loaded">
                <h3 class="section-title"><span>Carregando tópicos...</span></h3>
            </div>
            <div class="column" ng-if="forum.latest_topics.length==0 && topics_loaded">
                <h3 class="section-title"><span>Nenhum tópico ainda</span></h3>
            </div>

            <div class="forum-list" ng-if="forum.latest_topics.length>0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>tópico</th>
                            <th>reações</th>
                            <th>categorias</th>
                            <th>tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="topic in forum.latest_topics">
                            <td>
                                <a ng-href="/discussion/topic/#!/topic/{{ topic.id }}"><span class="thread-name">{{ topic.title }}</span></a>
                                <span class="last-update">Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                            </td>
                            <td>
                                <span class="action replies small">{{ topic.count_replies }}</span>
                                <span class="action liked small">{{ topic.count_likes }}</span>
                            </td>
                            <td>
                                <span ng-repeat="category in topic.categories" class="category">{{ category.name }}</span>
                            </td>
                            <td>
                                <div class="tags">
                                    <span ng-repeat="tag in topic.tags" class="tag">#{{ tag.name }}</span>
                                </div>
                            </td>
                        </tr>
                        <!--<tr class="new">-->
                            <!--<td>-->
                                <!--<span class="thread-name">Lorem ipsum dolor sit amet</span>-->
                                <!--<span class="last-update">Última atividade <b>há 2 horas</b></span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<span class="action replies small">1</span>-->
                                <!--<span class="action liked small">4</span>-->
                                <!--<span class="action used small">7</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<span class="category discussion">discussão</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<div class="tags">-->
                                    <!--<span class="tag">#lorem</span><span class="tag">#ipsum</span><span class="tag">#lorem</span>-->
                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</script>
{% endverbatim %}
{% endblock %}
