{% extends 'base.html' %}
{% load i18n %}
{% load is_coordinator %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
    {% javascript 'timtec-discussion' %}
{% endblock %}

{% block body_attrs %}
  ng-app="timtec.discussion"
{% endblock %}

{% block content %}
<ng-view></ng-view>

{% verbatim %}
<script type="text/ng-template" id="topic-new.html">
    <section class="forums forums-page forums-widget thread widget container-fluid">
        <div class="widget-topbar">
            <div class="line">
                <div class="pull-left">
                    <h2 class="title" ng-cloak>Fóruns > Novo Tópico</h2>
                </div>
                <div class="pull-right">
                    <a href="/discussion/" class="btn btn-link goback"><span>voltar para fóruns</span></a>
                </div>
            </div>
        </div>

        <div class="line one-column">
            <div class="column">
                <form class="new-thread">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="thread-forum">Em qual fórum ele deve estar? <span class="help-text">escolha apenas um</span></label>
                                <select ng-model="new_topic.forum" class="form-control" id="thread-forum"
                                        ng-options="forum.id as forum.title for forum in forums" >
                                    <option>Escolha o fórum</option>
                                </select>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="help-text">fórum escolhido</div>
                                <div class="selected-forum">Avante e Entremeios</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="thread-name">Como se chamará o novo tópico?</label>
                        <input ng-model="new_topic.title" type="text" class="form-control" id="thread-name" placeholder="Escreva o título aqui">
                    </div>
                    <div class="form-group">
                        <label for="thread-text">Texto do tópico</label>
                        <textarea ui-tinymce
                                  ng-model="new_topic.content"
                                  placeholder="Escreva aqui o seu comentário"></textarea>
                    </div>

                    <div class="form-group">
                        <button id="select-file-topic"
                               class="btn btn-xs btn-primary attach"
                               ngf-select="uploadCommentFiles($file, new_topic)"
                               ngf-multiple="false">anexar arquivo</button>
                    </div>
                    <div class="form-group">
                        <div class="post-attachments"
                           ng-show="new_topic.files">
                            <div class="attachments">
                                <span translate
                                      translate-n="new_topic.files.length"
                                      translate-plural="{{$count}} arquivos anexos:">1 arquivo anexo:</span>
                                <ul>
                                    <li ng-repeat="file in new_topic.files">
                                        <a ng-href="{{file.file}}">{{file.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="thread-tags">Para terminar, escolha algumas tags</label>
                                <select ng-model="new_topic.tags" class="form-control" id="thread-forum"
                                          ng-options="tag.id as tag.name for tag in tags" multiple>
                                </select>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="help-text">tags escolhidas</div>
                                <div class="selected-tags tags">
                                    <a href="#" class="tag" ng-repeat="tag in new_topic.tags">#{{tag}}</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="thread-forum">Quais as categorias do seu tópico? <!-- <span class="help-text">escolha apenas uma</span> --></label>
                                <select class="form-control" id="thread-forum" ng-model="new_topic.categories" ng-options="category.id as category.name for category in categories" multiple>
                                    <option>Escolha as categorias</option>
                                </select>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="help-text">categoria escolhida</div>
                                <div class="selected-category">
                                    <span class="category discussion" ng-repeat="category in new_topic.categories">{{category}}</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <button ng-disabled="sending" ng-click="save_topic()" class="btn btn-success new-topic">postar novo tópico</button>
                </form>
            </div>
        </div>
    </section>
</script>
{% endverbatim %}
{% endblock %}
