{% extends 'base.html' %}
{% load i18n %}
{% load is_coordinator %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
    {% javascript 'timtec-discussion' %}
{% endblock %}

{% block body_attrs %}
  ng-app="timtec.discussion"
{% endblock %}

{% block content %}

<div ng-controller="TopicCtrl">

    {% verbatim %}
    <section class="forums forums-page forums-widget thread widget container-fluid">
        <div class="widget-topbar">
            <div class="line">
                <div class="pull-left">
                    <h2 class="title" ng-cloak>Fóruns > {{ topic.forum_info.title }}</h2>
                </div>
                <div class="pull-right">
                    <a ng-href="/discussion/forum-detail/##{{ topic.forum }}" class="btn btn-link goback"><span>voltar para os tópicos</span></a>
                </div>
            </div>
        </div>

        <div class="line one-column">
            <div class="column">
                <div class="forum-thread" ng-cloak>
                    <div class="user-icon">
                        <img ng-src="{{ topic.author.picture }}" alt="{{ topic.author.name }}">
                    </div>
                    <div class="info">
                        <h4 class="thread-header"><span class="thread-title">{{ topic.title }}</span> por <span class="user-name"> <a ng-href="/profile/{{ topic.author.username }}">{{ topic.author.name }}</a></span></h4>
                    </div>
                    <div class="tags">
                        <a href="#" class="tag" ng-repeat="tag in topic.tags">#{{ tag.name }}</a>
                    </div>

                    <div class="thread-post" ng-bind-html="topic.content"></div>

                    <div class="actions">
                        <div class="pull-left">
                            <a ng-click="topic_like(topic)" ng-class="{ 'active': topic.user_like }" class="action liked">gostei</a>
                            <!--<a class="action used">usar</a>-->
                            <a ng-click="topic.show_comment_input=true" class="action replies">comentar</a>
                        </div>
                        <div class="pull-right">
                            <span class="action liked">{{ topic.count_likes }} gostaram</span>
                            <!--<span class="action used">7 usaram</span>-->
                            <span class="action replies">{{ topic.count_replies }} respostas</span>
                        </div>
                    </div>

                    <form class="comments-form" ng-show="topic.show_comment_input">
                        <textarea ui-tinymce="tinymceOptions"
                                  ng-model="topic.new_comment"
                                  placeholder="Escreva aqui o seu comentário"></textarea>
                        <button class="btn btn-xs btn-success reply" ng-click="save_comment(topic, null)">comentar</button>
                        <button class="btn btn-xs btn-danger delete" ng-click="topic.show_comment_input=false">descartar</button>
                    </form>

                    <div class="comments">
                        <h3 class="comments-title">Comentários</h3>
                        <div class="thread" ng-repeat="comment in topic.comments">
                            <div class="user-icon">
                                <img ng-src="{{ comment.author.picture }}" alt="{{ comment.author.name }}">
                            </div>
                            <div class="info">
                                <span class="user-name">
                                  <a ng-href="/profile/{{ comment.author.username }}">{{ comment.author.name }}</a>
                                </span>
                                <div class="comment-post" ng-bind-html="comment.text"></div>
                                <form class="comments-form" ng-show="comment.show_comment_input">
                                    <textarea ui-tinymce="tinymceOptions"
                                              ng-model="comment.new_comment"
                                              placeholder="Escreva aqui o seu comentário"></textarea>
                                    <button class="btn btn-xs btn-success reply" ng-click="save_comment(topic, comment);comment.show_comment_input=false;">comentar</button>
                                    <button class="btn btn-xs btn-danger delete" ng-click="comment.show_comment_input=false">descartar</button>
                                </form>
                            </div>
                            <div class="actions">
                                <div class="pull-left">
                                    <a ng-click="comment_like(comment)"
                                       ng-class="{ 'active': comment.user_like }"
                                       class="action liked">gostei</a>
                                    <a ng-click="comment.show_comment_input=true" class="action replies">comentar</a>
                                </div>
                                <div class="pull-right">
                                    <span class="action liked">{{ comment.count_likes }} gostaram</span>
                                    <!--<span class="action replies">30 respostas</span>-->
                                </div>
                            </div>

                            <div class="thread" ng-repeat="reply in comment.comment_replies">
                                <div class="user-icon">
                                    <img ng-src="{{ reply.author.picture }}" alt="{{ reply.author.name }}">
                                </div>
                                <div class="info">
                                    <span class="user-name">
                                      <a ng-href="/profile/{{ reply.author.username }}">{{ reply.author.name }}</a>
                                    </span>
                                    <div class="comment-post" ng-bind-html="reply.text"></div>
                                    <form class="comments-form" ng-show="reply.show_comment_input">
                                        <textarea ui-tinymce="tinymceOptions"
                                                  ng-model="comment.new_comment"
                                                  placeholder="Escreva aqui o seu comentário"></textarea>
                                        <button class="btn btn-xs btn-success reply" ng-click="save_comment(topic, comment);reply.show_comment_input=false;">comentar</button>
                                        <button class="btn btn-xs btn-danger delete" ng-click="reply.show_comment_input=false">descartar</button>
                                    </form>
                                </div>
                                <div class="actions">
                                    <div class="pull-left">
                                        <a ng-click="comment_like(reply)"
                                           ng-class="{ 'active': reply.user_like }"
                                           class="action liked">gostei</a>
                                        <a ng-click="reply.show_comment_input=true" class="action replies">comentar</a>
                                    </div>
                                    <div class="pull-right">
                                        <span class="action liked">{{ reply.count_likes }} gostaram</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% endverbatim %}

</div>

{% endblock %}
