{% extends 'base.html' %}
{% load i18n %}
{% load is_coordinator %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
    {% javascript 'timtec-discussion' %}
{% endblock %}

{% block body_attrs %}
  ng-app="timtec.discussion"
{% endblock %}

{% block content %}

<div ng-controller="NewTopicCtrl">

    {% verbatim %}
    <section class="forums forums-page forums-widget thread widget container-fluid">
        <div class="widget-topbar">
            <div class="line">
                <div class="pull-left">
                    <h2 class="title" ng-cloak>Fóruns > Novo Tópico</h2>
                </div>
                <div class="pull-right">
                    <a href="/discussion/forum/" class="btn btn-link goback"><span>voltar para fóruns</span></a>
                </div>
            </div>
        </div>

        <div class="line one-column">
            <div class="column">
                <form class="new-thread">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="thread-forum">Em qual fórum ele deve estar? <span class="help-text">escolha apenas um</span></label>
                                <select ng-model="new_topic.forum" class="form-control" id="thread-forum"
                                        ng-options="forum.id as forum.title for forum in forums" >
                                    <option>Escolha o fórum</option>
                                </select>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="help-text">fórum escolhido</div>
                                <div class="selected-forum">Avante e Entremeios</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="thread-name">Como se chamará o novo tópico?</label>
                        <input ng-model="new_topic.title" type="text" class="form-control" id="thread-name" placeholder="Escreva o título aqui">
                    </div>
                    <div class="form-group">
                        <label for="thread-text">Texto do tópico <span class="help-text">máximo de xx caracteres</span></label>
                        <textarea ui-tinymce="tinymceOptions"
                                  ng-model="new_topic.content"
                                  placeholder="Escreva aqui o seu comentário" id="thread-text"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="thread-tags">Para terminar, escolha algumas tags <span class="help-text">máximo de xx tags</span></label>
                                <select class="form-control" id="thread-tags" multiple>
                                    <option>tag</option>
                                    <option>tag</option>
                                    <option>tag</option>
                                    <option>tag</option>
                                    <option>tag</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="help-text">tags escolhidas</div>
                                <div class="selected-tags tags">
                                    <a href="#" class="tag">#tag</a> <a href="#" class="tag">#tag</a> <a href="#" class="tag">#tag</a> <a href="#" class="tag">#tag</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="thread-forum">Qual a categoria do seu tópico? <span class="help-text">escolha apenas uma</span></label>
                                <select class="form-control" id="thread-forum">
                                    <option>Escolha a categoria</option>
                                    <option>Categoria</option>
                                    <option>Categoria</option>
                                    <option>Categoria</option>
                                    <option>Categoria</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="help-text">categoria escolhida</div>
                                <div class="selected-category">
                                    <span class="category discussion">discussão</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <button ng-disabled="sending" ng-click="save_topic()" class="btn btn-success new-topic"><i class="fa fa-sign-in" aria-hidden="true"></i> postar novo tópico</button>
                </form>
            </div>
        </div>
    </section>
    {% endverbatim %}

</div>

{% endblock %}
