{% load i18n %}
{% load is_coordinator %}
{% load pipeline %}

{% javascript 'plpc-header' %}

<header ng-controller="HeaderCtrl" class="site-header" role="navigation">
    <div class="user-info" ng-click="$parent.main_nav_opend = !$parent.main_nav_opend" ng-cloak>
        {% if user.is_authenticated %}
            {% block header_user_menu %}
                {% verbatim %}
                <div class="user-icon"><img ng-src="{{ user.picture }}" alt="{{ user.name }}" class="img-circle"></div>
                <div class="user-name">{{ user.name }}</div>
                <div class="menu-label">menu</div>
                {% endverbatim %}
            {% endblock %}
        {% endif %}
    </div>

    {% block header_navbar %}
    <div class="site-logo">
        <h1><a href="/"><img src="/static/img/site-logo-orange.svg" alt="{{ site.name }}"></a></h1>
    </div>
    {% endblock %}

    {% if user.is_authenticated %}
        <ul class="user-tools">
            <li>
                <a class="notifications" ng-click="show_notification = !show_notification">Notificações</a>
            </li>
            <!--<li>-->
                <!--<a class="chat" href="#">{% trans 'Chat' %}</a>-->
            <!--</li>-->
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <div ng-if="show_notification" class="notifications-panel" ng-cloak>
        <h2 class="notifications-title">Notificações</h2>
        <ul class="notifications-list">
        {% verbatim %}
            <li class="notifications-item" ng-if="!notifications_loaded">
                <span class="info">Carregando notificações&hellip;</span>
            </li>
            <li class="notifications-item" ng-if="notifications.length === 0 && notifications_loaded">
                <span class="info">Sem notificações</span>
            </li>
            <li class="notifications-item" ng-repeat="notification in notifications">
                <span class="icon"><img ng-src="{{notification.user.picture || 'http://placehold.it/40'}}"></span>
                <span class="info"><b>{{notification.topic.author.first_name || notification.topic.author.first_name}}</b> {{notification.action | actionFilter }} tópico <a href="/discussion/topic/##{{notification.topic.id}}">{{notification.topic.title}}</a> no fórum <a href="#">{{notification.topic.forum.title}}</a></span>
                <span class="date">há {{notification.date | dateFilter }}</span>
            </li>
        {% endverbatim %}
        </ul>
        <!--<a href="#" class="see-more">ver todos</a>-->
    </div>
{% endif %}

</header>
