{% load i18n %}
{% load is_coordinator %}

<header class="site-header" role="navigation">
    {% block header_navbar %}
    <nav class="site-nav">
        <ul>
            <li><a href="{% url 'account_login' %}">Entrar!</a></li>
            <li><a href="/pages/o-projeto">O projeto</a></li>
            <li><a href="/pages/faq">FAQ</a></li>
            <li><a href="/pages/sobre">Sobre a plataforma</a></li>
            <!--<li><a href="/pages/faq">Perguntas frequentes</a></li>-->
            <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contato</a></li>
        </ul>
    </nav>
    <div class="site-logo">
        <h1>
            <a href="/"><img src="/static/img/site-logo-black.svg" alt="{{ site.name }}" class="img-responsive"></a>
            <span>ambiente de educação a distância</span>
        </h1>
    </div>
    <div class="animals">
        <div class="snail"></div><div class="elephant"></div><div class="turtle"></div>
        <div class="snake"></div><div class="pig"></div><div class="duck"></div>
    </div>
    <div class="color-line"></div>
    {% endblock %}
</header>

<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Contact' %}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal contact-form" method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    {% include '_contact_form.html' %}
                    <div class="submit">
                        <button type="reset" class="btn btn-sm btn-warning clean">{% trans 'Clear' %}</button>
                        <button type="submit" class="btn btn-sm btn-success save">{% trans 'Send' %}</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
