{% extends 'base_congresso.html' %}

{% load i18n %}
{% load compress %}
{% load static %}
{% load is_enrolled %}
{% load get_flatpage %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <!-- Core -->
        <script type="text/javascript" src="{% static 'js/core/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/filters.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-tweet-filter/index.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-sortable-view/src/angular-sortable-view.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block wrapper_classes %}
home congresso
{% endblock %}

{% block content %}

<div>
    <section class="blocks">

        <div class="register">
            <h2>Primeiro acesso?</h2>
            <p><a href="{% url 'account_signup' %}">Cadastre-se aqui!</a></p>
        </div>

        <div class="login">
            <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
                <fieldset>
                    <legend>Entre!</legend>
                    <div class="form-group">
                        <label for="username" class="sr-only">nome de usuário</label>
                        <input name="login" type="text" class="form-control" id="username" placeholder="nome de usuário ou email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">senha</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="senha">
                    </div>
                    <button type="submit" class="btn btn-submit">entrar</button>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="1"> Lembrar do meu usuário neste computador.
                        </label>
                    </div>
                </fieldset>
                <p class="info">Esqueceu sua senha? <a href="{% url 'account_reset_password' %}">Clique aqui para recuperá-la</a></p>
            </form>
        </div>

        <div class="welcome">
            <h2>Seja bem vindo</h2>
            <p>Seja bem vindo ao ambiente online do
            XI Congresso Internacional de
            Acompanhamento Terapêutico</p>
        </div>

        <div class="use">
            <img src="/static/img/logo-congresso.png" alt="{{ site.name }}" class="img-responsive"></a>
        </div>

    </section>
</div>
{% endblock %}
