{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'tinymce-dist/tinymce.js' %}"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/messages/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/messages/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/messages/services.js' %}"></script>
    <script type="text/javascript" src="{% static 'checklist-model/checklist-model.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-ui-tinymce/src/tinymce.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui.tinymce.paralapraca.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
    <script type="text/javascript" src="{% static 'ng-file-upload/ng-file-upload.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block body_attrs %}
  ng-app="messages"
{% endblock %}

{% block content %}

<div class="messages messages-list">
    <section class="page container-fluid">
        <header class="page-header">
            <h2>Avisos</h2>
        </header>
        {% block messages_content %}
        <div ng-controller="MessagesOverviewController">
            <div ng-if="messages.length > 0">
                {% verbatim %}
                <div class="title-header">
                    <h3>Avisos gerais</h3>
                    <button class="btn btn-link btn-sm"
                            ng-init="messages.show_messages=true"
                            ng-class="messages.show_messages ? 'hide-all': 'show-all'"
                            ng-click="messages.show_messages=!messages.show_messages">
                        <span ng-show="!messages.show_messages">ver</span>
                        <span ng-show="messages.show_messages">ocultar</span>
                    </button>
                </div>
                <div ng-show="messages.show_messages">
                    <div class="message" ng-repeat="message in messages" ng-class="{'unread': !message.is_read}">
                        <div class="message-body">
                            <div class="message-header">
                                <h4 class="message-subject">{{ message.subject }}</h4> 
                                <span class="message-date">{{ message.date|date:"dd/MM/yy" }}</span>
                            </div>
                            <div class="message-text">
                                <span ng-bind-html="strip_html(message.message | limitTo : 300)"></span>
                                <a class="btn btn-default see-more" ng-href="/course/{{message.course_slug}}/message/{{message.id}}">
                                    ver aviso completo
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </div>
            <div class="message" style="margin-bottom: 20px;" ng-if="messages.length == 0 || !messages">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="body">
                          <span>
                              Não há avisos importantes para você no momento.
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>
    <!--  END COURSE CONTENT  -->






</div>
<!--  END COURSE CONTENT  -->

{% endblock %}
