{% extends 'base.html' %}
{% load i18n %}
{% load pipeline %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    {% javascript 'notes' %}
{% endblock %}

{% block wrapper_classes %}
notes my-notes
{% endblock %}

{% block body_attrs %}
  ng-app="notes"
{% endblock %}

{% block content %}

<!-- CONTAINER -->
<div class="my-notes page container-fluid" ng-controller="UserNotesCtrl" ng-cloak>

    <section class="content">
        {% block notes_header %}
        <div class="page-header">
            <h2><i class="fa fa-angle-double-right"></i> {% trans "My Notes" %}</h2>
        </div>
        {% endblock %}

        <p ng-if="courses.length == 0">
            {% trans "You have not made any notes yet." %}
        </p>

        <div class="courses courses-list" ng-repeat="course in courses">
            <div class="line">
                <div class="header">
                    {% verbatim angularjs %}
                    <h3 class="course-title">{{course.name}}</h3>
                    {% endverbatim angularjs %}
                    <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/intro/" class="btn btn-xs btn-primary">{% trans 'Home' %}</a>
                    <a href="/course/{% verbatim angularjs %}{{course.slug}}{% endverbatim angularjs %}/intro/" class="btn btn-xs btn-info">{% trans 'Resume course' %}</a>
                </div>
                <div class="notes-info">
                    você tem {% verbatim angularjs %}{{course.course_notes_number}}{% endverbatim angularjs %} {% trans 'notes' %}
                    <button class="btn btn-link btn-sm show-all">ver todas</button>
                    <button class="btn btn-link btn-sm hide-all">esconder</button>
                </div>
                <h4 class="lesson-title">Capítulo 2 - Lorem Ipsum Dolor Sit Amet</h4>
                <div class="notes-list">
                    <h5 class="unit-title">Unidade 1 - Lorem Ipsum Dolor Sit Amet</h5>
                    <div class="note-content">
                        <div class="row">
                            <div class="col-sm-7 col-md-8 col-lg-9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</div>
                            <div class="col-sm-5 col-md-4 col-lg-3">
                                <button class="btn btn-success edit">editar</button>
                                <button class="btn btn-danger delete">descartar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- CONTAINER -->

{% endblock %}
