{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/profile/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/services.js' %}"></script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="profile"
{% endblock %}

{% block content %}
<div class="profile page container-fluid" ng-controller="UserProfileController" ng-cloak>
    <div ng-hide="user_profile.$resolved">
        <p><i class="loading fa fa-refresh fa-spin"></i></p>
    </div>
    <div ng-show="user_profile">
        <div class="page-header">
            <h2><i class="fa fa-angle-double-right"></i> {% trans "Profile" %}</h2>
        </div>

        {% verbatim %}
        <div class="profile-picture" style="background-image: url({{ user_profile.picture }});">
        </div>

        <div class="profile-edit">
            <a href="{% url 'profile_edit' %}" class="btn btn-success btn-sm edit">editar perfil</a>
        </div>

        <h2 class="profile-name">{{user_profile.first_name}} {{user_profile.last_name}}</h2>
        <div class="profile-info">
            <p ng-if="user_profile.occupation" class="occupation">
                {{user_profile.occupation}}
            </p>
            <p ng-if="user_profile.city" class="city">
                {{user_profile.city}}
            </p>
            <p class="site"><a href="{{user_profile.site}}" target="_blank">{{user_profile.site}}</a></p>
        </div>
        {% endverbatim %}
        <!--<span>2 cursos finalizados</span> | <span>1 certificado de conclusão</span>-->
        <div class="profile-bio">
            {% verbatim %}
            <p>{{user_profile.biography}}</p>
            {% endverbatim %}
        </div>

    </div>

    <div class="profile-certificates">

    <!-- ng-if="user_profile.certificates.length>0" -->
        
        <div class="page-header">
            <h2><i class="fa fa-angle-double-right"></i> {% trans 'Finished courses' %}</h2>
        </div>

        <div class="widget">

        <!-- ng-repeat="certificate in user_profile.certificates" -->

            <div class="courses line two-column fifty-fifty">
                <div class="course-box column">
                    <div class="line two-column">
                        <div class="course-thumb column">
                            <div class="course-thumb-bg" style="background-image: url(http://placehold.it/800x600);"></div>
                            <a class="btn see-certificate" href="#">ver certificado</a>
                        </div>
                        <div class="course-description column">
                            <div class="progress-label">módulo concluído</div>
                            <h3 class="course-title">Formação de Formadores</h3>
                            <div class="course-info">
                                <p><b>Iniciado em:</b> 00/00/0000 | <b>Cidade:</b> Camaçari</p>
                                <p><b>Finalizado em:</b> 00/00/0000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-box column">
                    <div class="line two-column">
                        <div class="course-thumb column">
                            <div class="course-thumb-bg" style="background-image: url(http://placehold.it/800x600);"></div>
                            <a class="btn see-certificate" href="#">ver certificado</a>
                        </div>
                        <div class="course-description column">
                            <div class="progress-label">módulo concluído</div>
                            <h3 class="course-title">Formação de Formadores</h3>
                            <div class="course-info">
                                <p><b>Iniciado em:</b> 00/00/0000 | <b>Cidade:</b> Camaçari</p>
                                <p><b>Finalizado em:</b> 00/00/0000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
